In [44]:
!pip install -U "psycopg2"
import pandas as pd
import psycopg2
from psycopg2 import sql
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    dbname="APAN 5310 Project",
    user="postgres",
    password="123")

Requirement already satisfied: psycopg2 in ./Desktop/anaconda3/lib/python3.9/site-packages (2.9.6)

In [45]:
cur = conn.cursor()

In [9]:
address_df = pd.read_csv('/Users/matthewmichael/Desktop/ColumbiaMasters/APAN5310/AddressesImport.csv')

In [12]:
address_df = address_df.rename(columns={
    'street': 'street',
    'city': 'city',
    'state': 'state',
    'country': 'country',
    })

In [13]:
for index, row in address_df[['street', 'city', 'state', 'country']].iterrows():
    try:
        cur.executemany("INSERT INTO Addresses (street, city, state, country) VALUES (%s, %s, %s, %s)", [(row['street'], row['city'], row['state'], row['country'])])
        conn.commit()
    except Exception as e:
        print(f"Error inserting batch of rows: {e}")
        conn.rollback()

In [15]:
cur.execute("SELECT * from Addresses")
addresses = cur.fetchall()
addresses

[(1, 'Prentice', 'Doushaguan', 'Washington', 'Canada'),
 (2, 'Dennis', 'Tianzhen', 'West Virginia', 'Canada'),
 (3, 'Loeprich', 'Jiudu', 'Michigan', 'United States'),
 (4, 'Commercial', 'Pyu', 'Delaware', 'United States'),
 (5, 'Heffernan', 'Drahovo', 'Oklahoma', 'Canada'),
 (6, 'Maple', 'Colotenango', 'Maryland', 'Canada'),
 (7, 'Melrose', 'Balong', 'Ohio', 'Mexico'),
 (8, 'Porter', 'Gromnik', 'West Virginia', 'Mexico'),
 (9, 'Maple', 'Pokhvistnevo', 'Alaska', 'United States'),
 (10, 'American Ash', 'San Antonio', 'Ohio', 'United States'),
 (11, 'Bartillon', 'Krajan Menggare', 'Pennsylvania', 'Mexico'),
 (12, 'Northport', 'Chillia', 'Tennessee', 'United States'),
 (13, 'Glacier Hill', 'Plaridel', 'Delaware', 'United States'),
 (14, 'Bultman', 'Chy≈°ky', 'Arkansas', 'Mexico'),
 (15, 'Columbus', 'Sukasirna', 'Iowa', 'United States'),
 (16, 'Evergreen', 'La Reforma', 'Indiana', 'Mexico'),
 (17, 'Green Ridge', 'Sakura', 'Alabama', 'United States'),
 (18, 'Pennsylvania', 'Jaguari√∫na', 'Delaware', 'United States'),
 (19, 'Chive', 'Manhete', 'Maryland', 'Mexico'),
 (20, 'Clove', 'Norwalk', 'Rhode Island', 'United States'),
 (21, 'Corscot', 'Lyon', 'Pennsylvania', 'United States'),
 (22, 'Anderson', 'Guilhabreu', 'Virginia', 'Canada'),
 (23, 'Susan', 'Tuojiang', 'Nevada', 'Canada'),
 (24, 'Express', 'Vitim', 'New York', 'Canada'),
 (25, 'Forest Run', 'Chengkou', 'Minnesota', 'United States'),
 (26, 'North', 'la Massana', 'Oregon', 'United States'),
 (27, 'Bonner', 'Borogontsy', 'Minnesota', 'Canada'),
 (28, 'Leroy', 'Daxi', 'Washington', 'Canada'),
 (29, 'Gina', 'Souziqiu', 'Ohio', 'Mexico'),
 (30, 'Lakewood', 'Vievis', 'Rhode Island', 'United States'),
 (31, 'Fair Oaks', 'Athens', 'North Carolina', 'Mexico'),
 (32, 'Spenser', 'Chornobay', 'New Jersey', 'Mexico'),
 (33, 'Hoard', 'Krajanbaturno', 'Montana', 'United States'),
 (34, 'Graedel', 'Rosario del Ingre', 'Nevada', 'United States'),
 (35, 'Cherokee', 'Huzhou', 'Indiana', 'Canada'),
 (36, 'Mandrake', 'Clarines', 'Colorado', 'United States'),
 (37, 'Granby', 'Kitimat', 'Michigan', 'United States'),
 (38, 'Shoshone', 'Xinsheng', 'Colorado', 'United States'),
 (39, 'Blackbird', 'Lalmanirhat', 'Florida', 'Canada'),
 (40, 'Main', 'Aban', 'Kansas', 'United States'),
 (41, 'School', 'Pittsburgh', 'Nevada', 'Canada'),
 (42, 'Eagan', 'Balugo', 'Wyoming', 'United States'),
 (43, 'Pennsylvania', 'Caraguatatuba', 'Oregon', 'Mexico'),
 (44, 'Melrose', 'La Paz', 'Missouri', 'United States'),
 (45, 'Mccormick', 'Woloara', 'Texas', 'Canada'),
 (46, 'Nobel', 'Independencia', 'Wyoming', 'Canada'),
 (47, 'Lukken', 'Bailu', 'Mississippi', 'Mexico'),
 (48, 'Esker', 'Al MajƒÅridah', 'Georgia', 'Canada'),
 (49, 'Meadow Valley', 'Chiconi', 'New Mexico', 'Mexico'),
 (50, 'Calypso', 'Kharkiv', 'Georgia', 'United States'),
 (51, 'Porter', 'Kachkanar', 'Utah', 'United States'),
 (52, 'Service', 'Dvorichna', 'South Dakota', 'United States'),
 (53, 'Nobel', 'San Miguel', 'California', 'Mexico'),
 (54, 'Eastwood', 'Xianqiao', 'West Virginia', 'Mexico'),
 (55, 'Kenwood', 'Vila Verde', 'Kentucky', 'Canada'),
 (56, 'Coleman', 'Wushan', 'Illinois', 'United States'),
 (57, 'Acker', 'Olympia', 'Colorado', 'Canada'),
 (58, 'David', 'Montecristi', 'Louisiana', 'United States'),
 (59, 'Burrows', 'Adstock', 'Washington', 'Canada'),
 (60, 'Welch', 'Liuxia', 'Arkansas', 'Mexico'),
 (61, 'Dwight', 'Mezhevoy', 'Louisiana', 'United States'),
 (62, 'Ronald Regan', 'Lukulu', 'Kentucky', 'United States'),
 (63, 'Shoshone', 'Old City', 'Massachusetts', 'Canada'),
 (64, 'Dixon', 'Chumpi', 'Illinois', 'United States'),
 (65, 'Moland', 'Marseille', 'Montana', 'Mexico'),
 (66, 'Grover', 'Bahuang', 'Mississippi', 'United States'),
 (67, 'Longview', 'Doong', 'Delaware', 'Mexico'),
 (68, 'Hooker', 'Fuxing', 'Ohio', 'Mexico'),
 (69, 'Dixon', 'Bronx', 'South Dakota', 'Mexico'),
 (70, 'Westridge', 'Akaki', 'Oregon', 'Canada'),
 (71, 'Fuller', 'Jidong', 'Kansas', 'Mexico'),
 (72, 'Hoepker', 'Kochevo', 'Louisiana', 'United States'),
 (73, 'Fulton', 'Likhobory', 'West Virginia', 'United States'),
 (74, 'Macpherson', 'Sabang', 'Arkansas', 'United States'),
 (75, 'Kennedy', 'Tianchang', 'Kansas', 'United States'),
 (76, 'Northfield', 'Kosh-Agach', 'Rhode Island', 'Mexico'),
 (77, 'Cordelia', 'Teminabuan', 'Illinois', 'United States'),
 (78, 'Prentice', 'Jinan-gun', 'Florida', 'Canada'),
 (79, 'Barnett', 'Aihua', 'Missouri', 'United States'),
 (80, 'Eagle Crest', 'Shiren', 'Washington', 'Canada'),
 (81, 'Granby', 'Kamyshevatskaya', 'Nebraska', 'Mexico'),
 (82, 'Atwood', 'Hachinohe', 'Missouri', 'Mexico'),
 (83, 'Lukken', 'Dailing', 'Washington', 'Mexico'),
 (84, 'Browning', 'Bistrinci', 'Tennessee', 'United States'),
 (85, 'Melvin', 'Kwale', 'Wisconsin', 'United States'),
 (86, 'Aberg', 'Camiri', 'Oklahoma', 'United States'),
 (87, 'Scott', 'Medeiros Neto', 'Oregon', 'Mexico'),
 (88, 'Rusk', 'San Juan', 'Idaho', 'Mexico'),
 (89, 'Esker', 'Gongpo', 'New York', 'Mexico'),
 (90, 'Autumn Leaf', 'Merapit', 'New Mexico', 'Mexico'),
 (91, 'Barby', 'Cuyotenango', 'Nevada', 'United States'),
 (92, 'Buell', 'Lethem', 'Maine', 'Canada'),
 (93, 'Esker', 'Columbus', 'South Carolina', 'Canada'),
 (94, 'Vera', 'Magbay', 'Washington', 'United States'),
 (95, 'Fairview', 'Lab', 'Georgia', 'United States'),
 (96, 'Lighthouse Bay', 'Brits', 'Michigan', 'United States'),
 (97, 'Buhler', 'Preserje pri Radomljah', 'Virginia', 'Mexico'),
 (98, 'Thackeray', 'Coronel', 'New Hampshire', 'Mexico'),
 (99, 'Schmedeman', 'Mogi Mirim', 'Kentucky', 'Canada'),
 (100, 'Bashford', 'Boisbriand', 'Mississippi', 'United States'),
 (101, 'Spaight', 'Haikou', 'Wisconsin', 'United States'),
 (102, 'Morning', 'Partizansk', 'Delaware', 'United States'),
 (103, 'Dexter', 'Nesebar', 'West Virginia', 'Canada'),
 (104, 'Northfield', 'Yang Chum Noi', 'Michigan', 'United States'),
 (105, 'Amoth', 'Bakau', 'Vermont', 'Canada'),
 (106, 'New Castle', 'Mpraeso', 'Virginia', 'Mexico'),
 (107, 'Continental', 'Wukang', 'West Virginia', 'Canada'),
 (108, 'Hoepker', 'Sakharovo', 'Florida', 'Canada'),
 (109, 'Texas', 'Ouidah', 'Tennessee', 'United States')]

In [16]:
employee_df = pd.read_csv('/Users/matthewmichael/Desktop/ColumbiaMasters/APAN5310/employeeimport.csv')

In [22]:
employee_df = employee_df.rename(columns={
    'employee_first_name': 'first_name',
    'employee_last_name': 'last_name',
    'employee_start_date': 'start_date',
    'employee_end_date': 'end_date',
    'employee_status': 'status',
    'address_id': 'address_id',
})

In [25]:
for index, row in employee_df[['first_name','last_name','start_date','end_date','status','address_id']].iterrows():
    try:
        cur.executemany("INSERT INTO Employees (first_name, last_name, start_date, end_date, status, address_id) VALUES (%s, %s, %s, %s, %s, %s)", [(row['first_name'], row['last_name'], row['start_date'], row['end_date'], row['status'], row['address_id'])])
        conn.commit()
    except Exception as e:
        print(f"Error inserting batch of rows: {e}")
        conn.rollback()

In [26]:
cur.execute("SELECT * from employees")
employees = cur.fetchall()
employees

[(1,
  'Harris',
  'Jaggi',
  datetime.date(2022, 5, 23),
  datetime.date(2022, 10, 17),
  'Former',
  1),
 (2,
  'Barrett',
  'Humberston',
  datetime.date(2022, 6, 26),
  datetime.date(2023, 4, 8),
  'Former',
  2),
 (3,
  'Wynn',
  'Guerin',
  datetime.date(2022, 6, 13),
  datetime.date(2022, 10, 20),
  'Current',
  3),
 (4,
  'Marcelle',
  'Curtois',
  datetime.date(2022, 7, 14),
  datetime.date(2022, 4, 27),
  'Former',
  4),
 (5,
  'Nike',
  'Peckett',
  datetime.date(2022, 12, 15),
  datetime.date(2022, 8, 8),
  'Current',
  5),
 (6,
  'Garey',
  'Haslewood',
  datetime.date(2022, 7, 25),
  datetime.date(2023, 1, 7),
  'Current',
  6),
 (7,
  'Ileane',
  'Trimming',
  datetime.date(2022, 4, 17),
  datetime.date(2023, 1, 10),
  'Former',
  7),
 (8,
  'Ricard',
  'Jezzard',
  datetime.date(2022, 5, 28),
  datetime.date(2022, 8, 7),
  'Current',
  8),
 (9,
  'Berny',
  'Towne',
  datetime.date(2023, 2, 7),
  datetime.date(2022, 9, 13),
  'Current',
  9),
 (10,
  'Ingar',
  'Glanz',
  datetime.date(2023, 3, 12),
  datetime.date(2022, 7, 7),
  'Current',
  10),
 (11,
  'Torrance',
  "O'Gorman",
  datetime.date(2022, 9, 21),
  datetime.date(2022, 9, 4),
  'Current',
  11),
 (12,
  'Kirk',
  'Marvel',
  datetime.date(2022, 10, 27),
  datetime.date(2023, 1, 6),
  'Former',
  12),
 (13,
  'Hedda',
  'Japp',
  datetime.date(2022, 10, 20),
  datetime.date(2022, 11, 20),
  'Former',
  13),
 (14,
  'Clary',
  'Kincey',
  datetime.date(2022, 7, 23),
  datetime.date(2022, 11, 4),
  'Current',
  14),
 (15,
  'Charissa',
  'Alleyne',
  datetime.date(2023, 3, 28),
  datetime.date(2022, 5, 25),
  'Former',
  15),
 (16,
  'Billie',
  'Hadkins',
  datetime.date(2023, 3, 29),
  datetime.date(2023, 4, 10),
  'Current',
  16),
 (17,
  'Amalita',
  'Tettley',
  datetime.date(2022, 9, 6),
  datetime.date(2022, 5, 29),
  'Former',
  17),
 (18,
  'Jakie',
  'Attawell',
  datetime.date(2022, 7, 3),
  datetime.date(2023, 1, 21),
  'Former',
  18),
 (19,
  'Herculie',
  'Healks',
  datetime.date(2023, 3, 27),
  datetime.date(2023, 1, 24),
  'Current',
  19),
 (20,
  'Luella',
  'Bryce',
  datetime.date(2022, 12, 31),
  datetime.date(2022, 6, 23),
  'Current',
  20),
 (21,
  'Trumaine',
  'Tuminini',
  datetime.date(2022, 11, 13),
  datetime.date(2022, 5, 5),
  'Former',
  21),
 (22,
  'Bernita',
  'Winspurr',
  datetime.date(2022, 4, 21),
  datetime.date(2023, 3, 31),
  'Current',
  22),
 (23,
  'Karrah',
  'Boyda',
  datetime.date(2022, 12, 20),
  datetime.date(2022, 11, 22),
  'Current',
  23),
 (24,
  'Emlynne',
  'Eckh',
  datetime.date(2022, 5, 5),
  datetime.date(2022, 4, 24),
  'Current',
  24),
 (25,
  'Hershel',
  'Munnings',
  datetime.date(2022, 8, 14),
  datetime.date(2022, 10, 5),
  'Former',
  25),
 (26,
  'Christoper',
  'Cubuzzi',
  datetime.date(2022, 12, 28),
  datetime.date(2022, 10, 21),
  'Former',
  26),
 (27,
  'Abigale',
  'Kiendl',
  datetime.date(2022, 10, 18),
  datetime.date(2023, 4, 1),
  'Current',
  27),
 (28,
  'Hannie',
  'Trevains',
  datetime.date(2022, 12, 11),
  datetime.date(2022, 12, 21),
  'Former',
  28),
 (29,
  'Burg',
  'Davidson',
  datetime.date(2023, 2, 5),
  datetime.date(2022, 11, 23),
  'Former',
  29),
 (30,
  'Quintana',
  'Baton',
  datetime.date(2022, 7, 30),
  datetime.date(2022, 5, 9),
  'Current',
  30),
 (31,
  'Dael',
  'Clissell',
  datetime.date(2023, 3, 9),
  datetime.date(2022, 10, 28),
  'Current',
  31),
 (32,
  'Barret',
  'Sneden',
  datetime.date(2023, 2, 27),
  datetime.date(2023, 2, 9),
  'Current',
  32),
 (33,
  'Temple',
  'Sivell',
  datetime.date(2023, 3, 7),
  datetime.date(2022, 6, 2),
  'Former',
  33),
 (34,
  'Amii',
  'Tokley',
  datetime.date(2022, 9, 10),
  datetime.date(2023, 4, 8),
  'Former',
  34),
 (35,
  'Codee',
  'Sibly',
  datetime.date(2023, 2, 1),
  datetime.date(2023, 3, 15),
  'Current',
  35),
 (36,
  'Mycah',
  'Ingliss',
  datetime.date(2022, 9, 16),
  datetime.date(2022, 9, 4),
  'Current',
  36),
 (37,
  'Garner',
  'Niccols',
  datetime.date(2023, 3, 23),
  datetime.date(2022, 8, 19),
  'Former',
  37),
 (38,
  'Faina',
  'Sill',
  datetime.date(2022, 4, 26),
  datetime.date(2022, 8, 4),
  'Current',
  38),
 (39,
  'Eustacia',
  'Woodford',
  datetime.date(2023, 1, 14),
  datetime.date(2023, 2, 2),
  'Former',
  39),
 (40,
  'Constantina',
  'Bucknill',
  datetime.date(2023, 2, 28),
  datetime.date(2023, 1, 12),
  'Current',
  40),
 (41,
  'Hamid',
  'Grigorkin',
  datetime.date(2022, 12, 22),
  datetime.date(2022, 10, 20),
  'Current',
  41),
 (42,
  'Kaylee',
  'Croneen',
  datetime.date(2022, 12, 29),
  datetime.date(2022, 12, 24),
  'Current',
  42),
 (43,
  'Delaney',
  'Sedworth',
  datetime.date(2022, 7, 8),
  datetime.date(2022, 7, 4),
  'Current',
  43),
 (44,
  'Haley',
  'Jahnke',
  datetime.date(2023, 3, 7),
  datetime.date(2022, 5, 1),
  'Current',
  44),
 (45,
  'Rosalind',
  'Leworthy',
  datetime.date(2022, 9, 28),
  datetime.date(2023, 4, 9),
  'Former',
  45),
 (46,
  'Rem',
  'Lavall',
  datetime.date(2023, 4, 4),
  datetime.date(2022, 4, 23),
  'Former',
  46),
 (47,
  'Agnese',
  'Stollsteimer',
  datetime.date(2022, 8, 21),
  datetime.date(2022, 12, 30),
  'Current',
  47),
 (48,
  'Othella',
  'Kitter',
  datetime.date(2022, 11, 1),
  datetime.date(2022, 11, 23),
  'Current',
  48),
 (49,
  'Britt',
  'Figiovanni',
  datetime.date(2022, 12, 15),
  datetime.date(2022, 7, 21),
  'Current',
  49),
 (50,
  'Adrienne',
  'Conibear',
  datetime.date(2022, 12, 20),
  datetime.date(2022, 10, 17),
  'Former',
  50),
 (51,
  'Lise',
  'Pettegre',
  datetime.date(2022, 6, 27),
  datetime.date(2022, 6, 9),
  'Former',
  51),
 (52,
  'Erinna',
  'Saxby',
  datetime.date(2022, 12, 17),
  datetime.date(2022, 5, 22),
  'Current',
  52),
 (53,
  'Blaine',
  'Berthomieu',
  datetime.date(2022, 10, 19),
  datetime.date(2022, 6, 6),
  'Current',
  53),
 (54,
  'Oralla',
  'Longland',
  datetime.date(2022, 8, 2),
  datetime.date(2022, 12, 25),
  'Former',
  54),
 (55,
  'Bird',
  'Allingham',
  datetime.date(2022, 10, 26),
  datetime.date(2023, 2, 14),
  'Current',
  55),
 (56,
  'Felecia',
  'Ferretti',
  datetime.date(2022, 9, 18),
  datetime.date(2022, 12, 18),
  'Former',
  56),
 (57,
  'Adoree',
  'Leggs',
  datetime.date(2022, 9, 12),
  datetime.date(2022, 5, 9),
  'Former',
  57),
 (58,
  'Alec',
  'Fullagar',
  datetime.date(2022, 12, 20),
  datetime.date(2022, 4, 18),
  'Current',
  58),
 (59,
  'Floria',
  'Hynde',
  datetime.date(2022, 7, 1),
  datetime.date(2022, 7, 13),
  'Former',
  59),
 (60,
  'Hyacinthe',
  'Bousler',
  datetime.date(2022, 4, 23),
  datetime.date(2022, 10, 5),
  'Current',
  60),
 (61,
  'Trudey',
  'Powling',
  datetime.date(2022, 11, 29),
  datetime.date(2023, 2, 7),
  'Former',
  61),
 (62,
  'Eliza',
  'Swalough',
  datetime.date(2022, 6, 26),
  datetime.date(2023, 1, 27),
  'Current',
  62),
 (63,
  'Willey',
  'Allender',
  datetime.date(2022, 8, 18),
  datetime.date(2022, 9, 4),
  'Current',
  63),
 (64,
  'Katharina',
  'Vyse',
  datetime.date(2022, 10, 23),
  datetime.date(2023, 3, 14),
  'Former',
  64),
 (65,
  'Junia',
  'Dello',
  datetime.date(2023, 2, 11),
  datetime.date(2022, 4, 30),
  'Current',
  65),
 (66,
  'Lynnett',
  'Southall',
  datetime.date(2023, 4, 9),
  datetime.date(2023, 3, 25),
  'Former',
  66),
 (67,
  'Ara',
  'Restall',
  datetime.date(2022, 7, 15),
  datetime.date(2022, 6, 22),
  'Former',
  67),
 (68,
  'Liana',
  'Abbet',
  datetime.date(2022, 9, 8),
  datetime.date(2022, 8, 30),
  'Current',
  68),
 (69,
  'Care',
  'Conville',
  datetime.date(2022, 8, 2),
  datetime.date(2022, 8, 22),
  'Current',
  69),
 (70,
  'Etan',
  'Woodings',
  datetime.date(2023, 1, 23),
  datetime.date(2022, 11, 27),
  'Former',
  70),
 (71,
  'Hubie',
  'Sixsmith',
  datetime.date(2023, 4, 6),
  datetime.date(2022, 7, 30),
  'Former',
  71),
 (72,
  'Roch',
  'Maidlow',
  datetime.date(2022, 10, 11),
  datetime.date(2022, 10, 3),
  'Former',
  72),
 (73,
  'Nerte',
  'Sibthorpe',
  datetime.date(2023, 1, 28),
  datetime.date(2022, 12, 2),
  'Current',
  73),
 (74,
  'Darleen',
  'Clubley',
  datetime.date(2022, 6, 14),
  datetime.date(2023, 3, 16),
  'Former',
  74),
 (75,
  'Marline',
  'Ramstead',
  datetime.date(2022, 5, 31),
  datetime.date(2022, 8, 26),
  'Current',
  75),
 (76,
  'Paulie',
  'Kirkbride',
  datetime.date(2022, 6, 1),
  datetime.date(2022, 7, 8),
  'Current',
  76),
 (77,
  'Humbert',
  'Vanyashkin',
  datetime.date(2023, 2, 1),
  datetime.date(2022, 9, 13),
  'Current',
  77),
 (78,
  'Quincy',
  'Carsberg',
  datetime.date(2022, 5, 9),
  datetime.date(2022, 4, 23),
  'Current',
  78),
 (79,
  'Nola',
  'Polino',
  datetime.date(2022, 10, 16),
  datetime.date(2022, 9, 18),
  'Former',
  79),
 (80,
  'Forbes',
  'Thomason',
  datetime.date(2023, 4, 10),
  datetime.date(2022, 11, 19),
  'Current',
  80),
 (81,
  'Clerc',
  'Rome',
  datetime.date(2023, 1, 10),
  datetime.date(2022, 8, 31),
  'Former',
  81),
 (82,
  'Dagmar',
  'Scrane',
  datetime.date(2022, 12, 3),
  datetime.date(2023, 3, 16),
  'Former',
  82),
 (83,
  'Dukie',
  'Brydon',
  datetime.date(2022, 12, 4),
  datetime.date(2022, 12, 13),
  'Former',
  83),
 (84,
  'Breena',
  'Loving',
  datetime.date(2022, 11, 10),
  datetime.date(2022, 11, 26),
  'Former',
  84),
 (85,
  'Ignacius',
  'Pomphrey',
  datetime.date(2023, 3, 18),
  datetime.date(2023, 1, 1),
  'Former',
  85),
 (86,
  'Felecia',
  'Jenney',
  datetime.date(2022, 12, 16),
  datetime.date(2022, 8, 31),
  'Former',
  86),
 (87,
  'Catherin',
  'Jiras',
  datetime.date(2023, 2, 28),
  datetime.date(2022, 10, 18),
  'Former',
  87),
 (88,
  'Emmalyn',
  'Choldcroft',
  datetime.date(2023, 4, 9),
  datetime.date(2022, 7, 3),
  'Current',
  88),
 (89,
  'Nerta',
  'Vallentine',
  datetime.date(2022, 9, 9),
  datetime.date(2022, 9, 19),
  'Current',
  89),
 (90,
  'Leeanne',
  "O'Feeney",
  datetime.date(2022, 9, 29),
  datetime.date(2023, 3, 29),
  'Current',
  90),
 (91,
  'Elliot',
  'Ledstone',
  datetime.date(2023, 4, 12),
  datetime.date(2023, 3, 24),
  'Former',
  91),
 (92,
  'Augy',
  'Husthwaite',
  datetime.date(2022, 5, 24),
  datetime.date(2022, 7, 9),
  'Former',
  92),
 (93,
  'Pippy',
  'Bater',
  datetime.date(2022, 10, 9),
  datetime.date(2023, 2, 11),
  'Former',
  93),
 (94,
  'Hugh',
  'Chaplin',
  datetime.date(2022, 8, 2),
  datetime.date(2022, 5, 5),
  'Current',
  94),
 (95,
  'Ciel',
  'Rabbe',
  datetime.date(2022, 12, 25),
  datetime.date(2023, 3, 19),
  'Former',
  95),
 (96,
  'Packston',
  'Hamlin',
  datetime.date(2022, 5, 2),
  datetime.date(2022, 9, 3),
  'Current',
  96),
 (97,
  'Jordan',
  'Seydlitz',
  datetime.date(2022, 6, 20),
  datetime.date(2022, 6, 22),
  'Current',
  97),
 (98,
  'Tandie',
  'Spileman',
  datetime.date(2023, 3, 20),
  datetime.date(2022, 7, 12),
  'Current',
  98),
 (99,
  'Shelli',
  'Buttel',
  datetime.date(2023, 3, 9),
  datetime.date(2022, 7, 4),
  'Current',
  99),
 (100,
  'Camila',
  'Binford',
  datetime.date(2023, 3, 8),
  datetime.date(2022, 12, 7),
  'Current',
  100),
 (101,
  'Issi',
  'McElvogue',
  datetime.date(2022, 6, 30),
  datetime.date(2023, 3, 4),
  'Former',
  101),
 (102,
  'Phil',
  'Cripps',
  datetime.date(2023, 4, 3),
  datetime.date(2023, 1, 29),
  'Current',
  102),
 (103,
  'Pierre',
  'Ciccone',
  datetime.date(2022, 8, 23),
  datetime.date(2022, 5, 7),
  'Former',
  103),
 (104,
  'Dusty',
  'Caught',
  datetime.date(2022, 8, 7),
  datetime.date(2022, 4, 27),
  'Former',
  104),
 (105,
  'Carissa',
  'Hazeldene',
  datetime.date(2023, 1, 8),
  datetime.date(2023, 1, 14),
  'Current',
  105),
 (106,
  'Conway',
  'Hundley',
  datetime.date(2022, 10, 6),
  datetime.date(2022, 5, 14),
  'Former',
  106),
 (107,
  'Shanie',
  'Wootton',
  datetime.date(2022, 5, 22),
  datetime.date(2023, 2, 9),
  'Former',
  107),
 (108,
  'Loralie',
  'Minker',
  datetime.date(2022, 10, 25),
  datetime.date(2022, 4, 25),
  'Current',
  108),
 (109,
  'Luke',
  'Beevor',
  datetime.date(2022, 8, 27),
  datetime.date(2022, 7, 3),
  'Former',
  109)]

In [27]:
store_df = pd.read_csv('/Users/matthewmichael/Desktop/ColumbiaMasters/APAN5310/storeimport.csv')

In [28]:
store_df = store_df.rename(columns={
    'store_name': 'name',
    'sq_ft': 'sq_ft',
    'address_id': 'address_id',
})

In [29]:
for index, row in store_df[['name','sq_ft','address_id']].iterrows():
    try:
        cur.executemany("INSERT INTO stores (name, sq_ft, address_id) VALUES (%s, %s, %s)", [(row['name'], row['sq_ft'], row['address_id'])])
        conn.commit()
    except Exception as e:
        print(f"Error inserting batch of rows: {e}")
        conn.rollback()

In [30]:
cur.execute("SELECT * from stores")
stores = cur.fetchall()
stores

[(1, 4204, 'Langworth-Bartoletti', 1),
 (2, 2044, 'Reilly, Stehr and Krajcik', 2),
 (3, 2146, 'Heidenreich and Sons', 3),
 (4, 3875, 'Hagenes LLC', 4),
 (5, 1258, 'Dicki-Konopelski', 5),
 (6, 3880, 'Hauck-King', 6),
 (7, 2250, 'Schuppe-Fay', 7),
 (8, 3582, 'Brakus, Schmeler and Strosin', 8),
 (9, 1265, 'Klein, Reilly and Goldner', 9),
 (10, 3630, 'Kirlin-Crona', 10),
 (11, 1776, 'Dach-Klein', 11),
 (12, 4648, 'Waters-Cole', 12),
 (13, 4548, 'Kessler and Sons', 13),
 (14, 1039, "Christiansen, Hackett and O'Conner", 14),
 (15, 3406, 'Graham, Swift and Zemlak', 15),
 (16, 3822, 'Ziemann-Thiel', 16),
 (17, 3254, 'Reichert, Armstrong and Ernser', 17),
 (18, 4398, 'Hessel LLC', 18),
 (19, 4390, "Wuckert, O'Keefe and Baumbach", 19),
 (20, 3799, 'Kshlerin, Leuschke and Beatty', 20),
 (21, 1058, 'Runolfsdottir-Bednar', 21),
 (22, 2222, 'Welch LLC', 22),
 (23, 3943, 'Harris and Sons', 23),
 (24, 2120, 'Wisoky Group', 24),
 (25, 4504, 'Cassin Group', 25),
 (26, 4721, 'Willms and Sons', 26),
 (27, 4826, 'Bogan, Beatty and Gleichner', 27),
 (28, 3877, 'Hand LLC', 28),
 (29, 4935, 'Metz LLC', 29),
 (30, 1105, 'Weber, Blanda and Lang', 30),
 (31, 2849, 'Kassulke Inc', 31),
 (32, 1417, 'Cartwright, Kuhn and Breitenberg', 32),
 (33, 2874, 'Predovic-Turcotte', 33),
 (34, 4674, 'Hane LLC', 34),
 (35, 4155, 'Hessel, Ondricka and Konopelski', 35),
 (36, 3816, 'Beatty, Macejkovic and Braun', 36),
 (37, 3715, 'Kohler Group', 37),
 (38, 2466, 'Murray-Brekke', 38),
 (39, 2221, 'Hegmann-Cassin', 39),
 (40, 2781, 'Pollich, Harber and Hand', 40),
 (41, 3255, 'Orn Group', 41),
 (42, 3952, 'Carroll-Simonis', 42),
 (43, 2811, 'Legros-Bernier', 43),
 (44, 3942, 'Wehner-Armstrong', 44),
 (45, 1525, 'McKenzie-Kerluke', 45),
 (46, 3037, 'Lang Inc', 46),
 (47, 2871, 'Dicki, Considine and Jacobson', 47),
 (48, 2491, 'Pacocha and Sons', 48),
 (49, 4080, 'Ernser, Halvorson and Ebert', 49),
 (50, 3510, 'Farrell-Hahn', 50),
 (51, 1558, 'VonRueden, Weissnat and Weimann', 51),
 (52, 4738, 'Roberts, Watsica and Runte', 52),
 (53, 3762, 'Doyle, Boyle and Rippin', 53),
 (54, 3133, 'Hintz Inc', 54),
 (55, 4360, 'Harris-Sipes', 55),
 (56, 4944, 'Moore, Heathcote and Williamson', 56),
 (57, 4441, 'Grant Inc', 57),
 (58, 4582, 'Rath, Zieme and Schroeder', 58),
 (59, 3722, 'Christiansen-Ullrich', 59),
 (60, 3751, 'Jaskolski, Thompson and Leuschke', 60),
 (61, 2329, 'Wehner-Kozey', 61),
 (62, 1933, 'Watsica, Koepp and Pagac', 62),
 (63, 3069, 'Herzog-Daugherty', 63),
 (64, 3719, 'Marvin, Hilpert and Haag', 64),
 (65, 2395, 'Gulgowski Group', 65),
 (66, 3619, 'Hilpert LLC', 66),
 (67, 4443, 'Jakubowski Group', 67),
 (68, 2923, 'Toy-Pfannerstill', 68),
 (69, 4526, 'Kozey, Hilll and Harvey', 69),
 (70, 3139, 'Wintheiser-Durgan', 70),
 (71, 1513, 'Durgan-Haag', 71),
 (72, 1943, 'Jakubowski-Cronin', 72),
 (73, 4532, 'Wolff-Schuster', 73),
 (74, 2202, 'Vandervort, Schamberger and Weimann', 74),
 (75, 4959, 'Hintz Inc', 75),
 (76, 3301, 'Pollich, Bradtke and Friesen', 76),
 (77, 1270, 'Johnson-Ziemann', 77),
 (78, 1818, 'Trantow-Daniel', 78),
 (79, 1578, 'Abbott Group', 79),
 (80, 2009, 'Raynor, Bogan and Stoltenberg', 80),
 (81, 1990, 'Abernathy, Hauck and Blick', 81),
 (82, 4595, "D'Amore, Runolfsdottir and Stoltenberg", 82),
 (83, 3021, 'Walker-Schroeder', 83),
 (84, 4736, 'Keebler-Goldner', 84),
 (85, 3468, 'Waters, Reichel and Morissette', 85),
 (86, 3887, 'Johnston-Collier', 86),
 (87, 4389, 'Dickinson, Price and Quitzon', 87),
 (88, 3181, 'Rodriguez Group', 88),
 (89, 1298, 'Ledner Inc', 89),
 (90, 1815, 'Kiehn and Sons', 90),
 (91, 3129, "Rodriguez, Gerlach and O'Kon", 91),
 (92, 1043, "O'Keefe-Gorczany", 92),
 (93, 3574, 'Effertz, Haag and Jerde', 93),
 (94, 4566, 'Christiansen and Sons', 94),
 (95, 2188, 'Doyle-Kulas', 95),
 (96, 1869, 'Hand Group', 96),
 (97, 3568, 'Williamson Group', 97),
 (98, 2156, 'Murphy, Davis and Medhurst', 98),
 (99, 1877, 'Kulas LLC', 99),
 (100, 3934, 'Daniel, Schultz and Green', 100),
 (101, 3009, 'Hills LLC', 101),
 (102, 2579, 'Gutkowski-Auer', 102),
 (103, 3609, 'Wisoky and Sons', 103),
 (104, 4009, 'Johns and Sons', 104),
 (105, 3817, 'Mante-Quitzon', 105),
 (106, 3797, 'Green, Kirlin and Christiansen', 106),
 (107, 2933, 'Pfannerstill, Erdman and Feest', 107),
 (108, 2580, 'Abshire and Sons', 108),
 (109, 2425, 'Robel, Kuvalis and Huels', 109)]

In [38]:
storerole_df = pd.read_csv('/Users/matthewmichael/Desktop/ColumbiaMasters/APAN5310/storeroleimport.csv')

In [39]:
storerole_df = storerole_df.rename(columns={
    'employee_id': 'employee_id',
    'store_id': 'store_id',
    'role type': 'role_type',
    'role start': 'role_start',
    'role end': 'role_end',
})

In [40]:
storerole_df.dropna(subset=['role_end'], inplace=True)

for index, row in storerole_df[['employee_id','store_id','role_type','role_start','role_end']].iterrows():
    try:
        cur.executemany("INSERT INTO store_role (employee_id, store_id, role_type, role_start, role_end) VALUES (%s, %s, %s, %s, %s)", [(row['employee_id'], row['store_id'], row['role_type'], row['role_start'], row['role_end'])])
        conn.commit()
    except Exception as e:
        print(f"Error inserting batch of rows: {e}")
        conn.rollback()

In [41]:
cur.execute("SELECT * from store_role")
store_role = cur.fetchall()
store_roles

[(1, 1, 'Cashier', datetime.date(2022, 1, 1), datetime.date(2022, 4, 6)),
 (2, 2, 'Bakery', datetime.date(2022, 1, 2), datetime.date(2022, 4, 7)),
 (3, 3, 'Deli', datetime.date(2022, 1, 3), datetime.date(2022, 4, 8)),
 (4,
  4,
  'Inventory Stocking',
  datetime.date(2022, 1, 4),
  datetime.date(2022, 4, 9)),
 (5, 5, 'Fish', datetime.date(2022, 1, 5), datetime.date(2022, 4, 10)),
 (6, 6, 'Management', datetime.date(2022, 1, 6), datetime.date(2022, 4, 11)),
 (7, 7, 'Accounting', datetime.date(2022, 1, 7), datetime.date(2022, 4, 12)),
 (8, 8, 'Technology', datetime.date(2022, 1, 8), datetime.date(2022, 4, 13)),
 (9, 9, 'Produce', datetime.date(2022, 1, 9), datetime.date(2022, 4, 14)),
 (10, 10, 'Cashier', datetime.date(2022, 1, 10), datetime.date(2022, 4, 15)),
 (11, 11, 'Bakery', datetime.date(2022, 1, 11), datetime.date(2022, 4, 16)),
 (12, 12, 'Deli', datetime.date(2022, 1, 12), datetime.date(2022, 4, 17)),
 (13,
  13,
  'Inventory Stocking',
  datetime.date(2022, 1, 13),
  datetime.date(2022, 4, 18)),
 (14, 14, 'Fish', datetime.date(2022, 1, 14), datetime.date(2022, 4, 19))]

In [51]:
vendor_df = pd.read_csv('/Users/matthewmichael/Desktop/ColumbiaMasters/APAN5310/vendorimport.csv')

In [52]:
vendor_df = vendor_df.rename(columns={
    'Name': 'name',
    'Type': 'vendor_type',
    'Address': 'address_id',
})

In [53]:
for index, row in vendor_df[['name','vendor_type','address_id']].iterrows():
    try:
        cur.executemany("INSERT INTO vendors (name, vendor_type, address_id) VALUES (%s, %s, %s)", [(row['name'], row['vendor_type'], row['address_id'])])
        conn.commit()
    except Exception as e:
        print(f"Error inserting batch of rows: {e}")
        conn.rollback()

In [54]:
cur.execute("SELECT * from vendors")
vendors = cur.fetchall()
vendors

[(1, 'Nikolaus, Hintz and Emmerich', 'Electronics', 1),
 (2, 'Swaniawski, Schuster and Donnelly', 'Poultry', 2),
 (3, 'Lehner-Cormier', 'Security', 3),
 (4, 'Vandervort and Sons', 'Produce', 4),
 (5, 'Gulgowski-Bogisich', 'Packaged Goods', 5),
 (6, 'Vandervort Inc', 'Packaged Goods', 6),
 (7, 'Stroman, Yost and Kessler', 'Electronics', 7),
 (8, 'Lemke Inc', 'Packaged Goods', 8),
 (9, 'Boehm-Stracke', 'Electronics', 9),
 (10, 'Bahringer, Abbott and White', 'Produce', 10),
 (11, 'Cronin-Hansen', 'Equipment', 11),
 (12, 'Schaden LLC', 'Fish', 12),
 (13, 'Johnston, Pouros and Kris', 'Poultry', 13),
 (14, 'Orn, Bauch and Jaskolski', 'Packaged Goods', 14),
 (15, 'Mann Inc', 'Packaged Goods', 15),
 (16, 'Mayert, Yost and Little', 'Packaged Goods', 16),
 (17, 'Jenkins-Sipes', 'Poultry', 17),
 (18, 'Haley-Zieme', 'Electronics', 18),
 (19, 'Osinski and Sons', 'Electronics', 19),
 (20, 'Ernser, Jacobson and Kshlerin', 'Electronics', 20),
 (21, 'Watsica, Wilderman and Johns', 'Security', 21),
 (22, 'McLaughlin-Langworth', 'Equipment', 22),
 (23, 'Kirlin, Goodwin and Lockman', 'Produce', 23),
 (24, 'Hilpert-Zemlak', 'Fish', 24),
 (25, 'Von, Mills and Rolfson', 'Produce', 25),
 (26, 'Wehner LLC', 'Security', 26),
 (27, "O'Connell and Sons", 'Equipment', 27),
 (28, 'Kautzer and Sons', 'Packaged Goods', 28),
 (29, 'Dibbert, Heller and Boyer', 'Produce', 29),
 (30, 'Tromp, Prohaska and Greenfelder', 'Equipment', 30),
 (31, 'Shanahan-Littel', 'Equipment', 31),
 (32, 'Paucek, Hoppe and Turner', 'Security', 32),
 (33, 'Ebert LLC', 'Security', 33),
 (34, 'Corwin LLC', 'Poultry', 34),
 (35, 'Roberts, Orn and Marquardt', 'Produce', 35),
 (36, 'Gottlieb-Weimann', 'Fish', 36),
 (37, 'Kub, Koepp and Block', 'Packaged Goods', 37),
 (38, 'Feil, Douglas and Farrell', 'Produce', 38),
 (39, 'Waelchi, Walker and Spinka', 'Packaged Goods', 39),
 (40, 'Cummerata LLC', 'Packaged Goods', 40),
 (41, 'Kuhn, Streich and Armstrong', 'Equipment', 41),
 (42, 'Bradtke, Lynch and Dietrich', 'Packaged Goods', 42),
 (43, 'Collier-Kutch', 'Equipment', 43),
 (44, 'Gottlieb Group', 'Produce', 44),
 (45, 'Heidenreich-Abshire', 'Packaged Goods', 45),
 (46, 'Waelchi, Effertz and Muller', 'Poultry', 46),
 (47, 'Gusikowski LLC', 'Security', 47),
 (48, 'Douglas LLC', 'Equipment', 48),
 (49, 'Dach Inc', 'Equipment', 49),
 (50, 'Paucek, Kshlerin and Lockman', 'Equipment', 50),
 (51, 'Runte, Pouros and Brekke', 'Fish', 51),
 (52, 'Swift, Kirlin and Kuphal', 'Fish', 52),
 (53, "Huels, D'Amore and Becker", 'Produce', 53),
 (54, 'Quitzon Group', 'Packaged Goods', 54),
 (55, 'Stiedemann, Roob and Smitham', 'Fish', 55),
 (56, 'Senger-Bartoletti', 'Fish', 56),
 (57, 'Hintz-Kshlerin', 'Electronics', 57),
 (58, 'Predovic and Sons', 'Packaged Goods', 58),
 (59, 'Reinger-Crist', 'Produce', 59),
 (60, 'Howell Inc', 'Electronics', 60),
 (61, 'Kozey-Fritsch', 'Fish', 61),
 (62, 'Heller Group', 'Electronics', 62),
 (63, 'Rosenbaum-Rosenbaum', 'Equipment', 63),
 (64, 'Collins-Farrell', 'Electronics', 64),
 (65, 'Von Group', 'Poultry', 65),
 (66, 'Ryan, Emard and Denesik', 'Poultry', 66),
 (67, 'Kunde-Smith', 'Security', 67),
 (68, 'Johnston, Becker and Daniel', 'Equipment', 68),
 (69, 'Tillman and Sons', 'Fish', 69),
 (70, 'Schroeder-Dibbert', 'Equipment', 70),
 (71, 'Daugherty, Abshire and Leffler', 'Poultry', 71),
 (72, 'Pollich-Larkin', 'Packaged Goods', 72),
 (73, 'Fisher-Wolff', 'Poultry', 73),
 (74, 'Emmerich Inc', 'Produce', 74),
 (75, 'Hessel Inc', 'Packaged Goods', 75),
 (76, 'Olson, Schneider and Funk', 'Packaged Goods', 76),
 (77, 'Treutel Inc', 'Produce', 77),
 (78, 'Bogan-Grant', 'Fish', 78),
 (79, 'Grant LLC', 'Poultry', 79),
 (80, 'Dicki and Sons', 'Packaged Goods', 80),
 (81, 'Watsica, Hyatt and Bailey', 'Equipment', 81),
 (82, 'Prosacco Inc', 'Electronics', 82),
 (83, 'Daniel and Sons', 'Fish', 83),
 (84, 'Koch-Turner', 'Equipment', 84),
 (85, 'Rodriguez Group', 'Security', 85),
 (86, 'Hermiston Inc', 'Security', 86),
 (87, 'Spinka-Turcotte', 'Poultry', 87),
 (88, 'Cartwright-Kihn', 'Packaged Goods', 88),
 (89, 'Doyle, Goyette and Senger', 'Packaged Goods', 89),
 (90, 'Monahan and Sons', 'Security', 90),
 (91, 'Friesen Inc', 'Poultry', 91),
 (92, 'Farrell-Daniel', 'Packaged Goods', 92),
 (93, 'Klocko, Hahn and Maggio', 'Security', 93),
 (94, 'Langworth, Shields and Haag', 'Poultry', 94),
 (95, 'Parker Inc', 'Security', 95),
 (96, 'Jacobson and Sons', 'Produce', 96),
 (97, 'Lindgren-Dare', 'Packaged Goods', 97),
 (98, 'Ortiz-Hickle', 'Produce', 98),
 (99, 'Lakin-Ziemann', 'Packaged Goods', 99),
 (100, 'Wunsch-Harber', 'Electronics', 100),
 (101, 'Botsford, Reilly and Farrell', 'Equipment', 101),
 (102, 'Steuber Group', 'Produce', 102),
 (103, 'Leuschke, Stehr and Bins', 'Security', 103),
 (104, 'Kihn, Breitenberg and Olson', 'Fish', 104),
 (105, 'Wiza-Cole', 'Electronics', 105),
 (106, 'Homenick-Paucek', 'Electronics', 106),
 (107, 'Hauck-Streich', 'Packaged Goods', 107),
 (108, 'Jacobi, Corkery and Parker', 'Electronics', 108),
 (109, 'Crooks Inc', 'Equipment', 109)]

In [55]:
delivery_df = pd.read_csv('/Users/matthewmichael/Desktop/ColumbiaMasters/APAN5310/deliveryimport.csv')

In [56]:
delivery_df = delivery_df.rename(columns={
    'delivery_time': 'time',
    'store_id': 'store_id',
    'vendor_id': 'vendor_id',
})

In [57]:
for index, row in delivery_df[['time','store_id','vendor_id']].iterrows():
    try:
        cur.executemany("INSERT INTO deliveries (time, store_id, vendor_id) VALUES (%s, %s, %s)", [(row['time'], row['store_id'], row['vendor_id'])])
        conn.commit()
    except Exception as e:
        print(f"Error inserting batch of rows: {e}")
        conn.rollback()

In [58]:
cur.execute("SELECT * from deliveries")
deliveries = cur.fetchall()
deliveries

[(1, datetime.datetime(2022, 7, 7, 0, 0), 1, 1),
 (2, datetime.datetime(2023, 2, 7, 0, 0), 2, 2),
 (3, datetime.datetime(2022, 10, 6, 0, 0), 3, 3),
 (4, datetime.datetime(2023, 2, 19, 0, 0), 4, 4),
 (5, datetime.datetime(2023, 2, 2, 0, 0), 5, 5),
 (6, datetime.datetime(2023, 3, 13, 0, 0), 6, 6),
 (7, datetime.datetime(2022, 10, 13, 0, 0), 7, 7),
 (8, datetime.datetime(2022, 12, 31, 0, 0), 8, 8),
 (9, datetime.datetime(2023, 1, 27, 0, 0), 9, 9),
 (10, datetime.datetime(2023, 2, 5, 0, 0), 10, 10),
 (11, datetime.datetime(2022, 11, 10, 0, 0), 11, 11),
 (12, datetime.datetime(2023, 2, 10, 0, 0), 12, 12),
 (13, datetime.datetime(2022, 7, 30, 0, 0), 13, 13),
 (14, datetime.datetime(2023, 4, 8, 0, 0), 14, 14),
 (15, datetime.datetime(2022, 9, 5, 0, 0), 15, 15),
 (16, datetime.datetime(2023, 2, 7, 0, 0), 16, 16),
 (17, datetime.datetime(2022, 5, 22, 0, 0), 17, 17),
 (18, datetime.datetime(2022, 5, 26, 0, 0), 18, 18),
 (19, datetime.datetime(2023, 1, 8, 0, 0), 19, 19),
 (20, datetime.datetime(2022, 11, 8, 0, 0), 20, 20),
 (21, datetime.datetime(2022, 10, 8, 0, 0), 21, 21),
 (22, datetime.datetime(2022, 7, 7, 0, 0), 22, 22),
 (23, datetime.datetime(2022, 10, 10, 0, 0), 23, 23),
 (24, datetime.datetime(2022, 5, 11, 0, 0), 24, 24),
 (25, datetime.datetime(2022, 12, 9, 0, 0), 25, 25),
 (26, datetime.datetime(2023, 1, 16, 0, 0), 26, 26),
 (27, datetime.datetime(2023, 2, 16, 0, 0), 27, 27),
 (28, datetime.datetime(2022, 4, 30, 0, 0), 28, 28),
 (29, datetime.datetime(2022, 5, 11, 0, 0), 29, 29),
 (30, datetime.datetime(2022, 7, 24, 0, 0), 30, 30),
 (31, datetime.datetime(2022, 11, 6, 0, 0), 31, 31),
 (32, datetime.datetime(2023, 3, 30, 0, 0), 32, 32),
 (33, datetime.datetime(2022, 10, 19, 0, 0), 33, 33),
 (34, datetime.datetime(2022, 4, 29, 0, 0), 34, 34),
 (35, datetime.datetime(2022, 11, 5, 0, 0), 35, 35),
 (36, datetime.datetime(2022, 12, 28, 0, 0), 36, 36),
 (37, datetime.datetime(2022, 9, 24, 0, 0), 37, 37),
 (38, datetime.datetime(2023, 3, 16, 0, 0), 38, 38),
 (39, datetime.datetime(2022, 5, 31, 0, 0), 39, 39),
 (40, datetime.datetime(2023, 2, 19, 0, 0), 40, 40),
 (41, datetime.datetime(2022, 11, 4, 0, 0), 41, 41),
 (42, datetime.datetime(2022, 11, 15, 0, 0), 42, 42),
 (43, datetime.datetime(2022, 9, 13, 0, 0), 43, 43),
 (44, datetime.datetime(2022, 12, 2, 0, 0), 44, 44),
 (45, datetime.datetime(2022, 9, 14, 0, 0), 45, 45),
 (46, datetime.datetime(2023, 1, 11, 0, 0), 46, 46),
 (47, datetime.datetime(2022, 7, 28, 0, 0), 47, 47),
 (48, datetime.datetime(2023, 1, 3, 0, 0), 48, 48),
 (49, datetime.datetime(2022, 6, 24, 0, 0), 49, 49),
 (50, datetime.datetime(2022, 9, 2, 0, 0), 50, 50),
 (51, datetime.datetime(2022, 7, 17, 0, 0), 51, 51),
 (52, datetime.datetime(2023, 4, 3, 0, 0), 52, 52),
 (53, datetime.datetime(2022, 12, 23, 0, 0), 53, 53),
 (54, datetime.datetime(2023, 3, 21, 0, 0), 54, 54),
 (55, datetime.datetime(2022, 6, 20, 0, 0), 55, 55),
 (56, datetime.datetime(2022, 11, 16, 0, 0), 56, 56),
 (57, datetime.datetime(2022, 11, 11, 0, 0), 57, 57),
 (58, datetime.datetime(2023, 4, 4, 0, 0), 58, 58),
 (59, datetime.datetime(2022, 10, 1, 0, 0), 59, 59),
 (60, datetime.datetime(2023, 3, 9, 0, 0), 60, 60),
 (61, datetime.datetime(2022, 5, 23, 0, 0), 61, 61),
 (62, datetime.datetime(2022, 6, 26, 0, 0), 62, 62),
 (63, datetime.datetime(2023, 1, 27, 0, 0), 63, 63),
 (64, datetime.datetime(2023, 3, 16, 0, 0), 64, 64),
 (65, datetime.datetime(2022, 12, 28, 0, 0), 65, 65),
 (66, datetime.datetime(2022, 9, 25, 0, 0), 66, 66),
 (67, datetime.datetime(2023, 2, 22, 0, 0), 67, 67),
 (68, datetime.datetime(2022, 10, 27, 0, 0), 68, 68),
 (69, datetime.datetime(2023, 1, 10, 0, 0), 69, 69),
 (70, datetime.datetime(2022, 9, 5, 0, 0), 70, 70),
 (71, datetime.datetime(2023, 3, 20, 0, 0), 71, 71),
 (72, datetime.datetime(2023, 2, 4, 0, 0), 72, 72),
 (73, datetime.datetime(2023, 4, 6, 0, 0), 73, 73),
 (74, datetime.datetime(2022, 7, 14, 0, 0), 74, 74),
 (75, datetime.datetime(2022, 4, 22, 0, 0), 75, 75),
 (76, datetime.datetime(2022, 8, 1, 0, 0), 76, 76),
 (77, datetime.datetime(2023, 1, 26, 0, 0), 77, 77),
 (78, datetime.datetime(2023, 3, 1, 0, 0), 78, 78),
 (79, datetime.datetime(2022, 10, 23, 0, 0), 79, 79),
 (80, datetime.datetime(2022, 4, 21, 0, 0), 80, 80),
 (81, datetime.datetime(2022, 6, 27, 0, 0), 81, 81),
 (82, datetime.datetime(2022, 8, 27, 0, 0), 82, 82),
 (83, datetime.datetime(2022, 7, 6, 0, 0), 83, 83),
 (84, datetime.datetime(2022, 12, 17, 0, 0), 84, 84),
 (85, datetime.datetime(2023, 3, 25, 0, 0), 85, 85),
 (86, datetime.datetime(2023, 2, 18, 0, 0), 86, 86),
 (87, datetime.datetime(2022, 11, 23, 0, 0), 87, 87),
 (88, datetime.datetime(2022, 6, 19, 0, 0), 88, 88),
 (89, datetime.datetime(2022, 5, 23, 0, 0), 89, 89),
 (90, datetime.datetime(2022, 7, 10, 0, 0), 90, 90),
 (91, datetime.datetime(2022, 12, 16, 0, 0), 91, 91),
 (92, datetime.datetime(2022, 6, 26, 0, 0), 92, 92),
 (93, datetime.datetime(2022, 8, 20, 0, 0), 93, 93),
 (94, datetime.datetime(2023, 2, 17, 0, 0), 94, 94),
 (95, datetime.datetime(2022, 7, 23, 0, 0), 95, 95),
 (96, datetime.datetime(2023, 2, 1, 0, 0), 96, 96),
 (97, datetime.datetime(2022, 8, 18, 0, 0), 97, 97),
 (98, datetime.datetime(2022, 8, 16, 0, 0), 98, 98),
 (99, datetime.datetime(2023, 4, 13, 0, 0), 99, 99),
 (100, datetime.datetime(2023, 1, 10, 0, 0), 100, 100),
 (101, datetime.datetime(2023, 3, 22, 0, 0), 101, 101),
 (102, datetime.datetime(2022, 5, 19, 0, 0), 102, 102),
 (103, datetime.datetime(2022, 8, 28, 0, 0), 103, 103),
 (104, datetime.datetime(2022, 5, 11, 0, 0), 104, 104),
 (105, datetime.datetime(2022, 5, 6, 0, 0), 105, 105),
 (106, datetime.datetime(2022, 8, 31, 0, 0), 106, 106),
 (107, datetime.datetime(2022, 12, 25, 0, 0), 107, 107),
 (108, datetime.datetime(2022, 8, 3, 0, 0), 108, 108),
 (109, datetime.datetime(2022, 11, 5, 0, 0), 109, 109)]

In [80]:
cart_df = pd.read_csv('/Users/matthewmichael/Desktop/ColumbiaMasters/APAN5310/cartsimport.csv')

In [81]:
cart_df = cart_df.rename(columns={
    'id': 'id',
    'carts_quantity': 'quantity',
    'store_id': 'store_id',
  })

In [91]:
for index, row in cart_df[['id', 'quantity', 'store_id']].iterrows():
    carts_id = int(row['id'])   
    quantity = int(row['quantity'])
    store_id = int(row['store_id'])
    try:
        cur.executemany("INSERT INTO carts (id, quantity, store_id) VALUES (%s, %s, %s)", [(carts_id, quantity, store_id)])
        conn.commit()
    except Exception as e:
        print(f"Error inserting batch of rows: {e}")
        conn.rollback()

In [92]:
cur.execute("SELECT * from carts")
carts = cur.fetchall()
carts

[(1, 2, 1),
 (2, 4, 2),
 (3, 6, 3),
 (4, 8, 4),
 (5, 10, 5),
 (6, 12, 6),
 (7, 14, 7),
 (8, 16, 8),
 (9, 18, 9),
 (10, 20, 10),
 (11, 22, 11),
 (12, 24, 12),
 (13, 26, 13),
 (14, 28, 14),
 (15, 30, 15),
 (16, 32, 16),
 (17, 34, 17),
 (18, 36, 18),
 (19, 38, 19),
 (20, 40, 20),
 (21, 42, 21),
 (22, 44, 22),
 (23, 46, 23),
 (24, 48, 24),
 (25, 50, 25),
 (26, 52, 26),
 (27, 54, 27),
 (28, 56, 28),
 (29, 58, 29),
 (30, 60, 30),
 (31, 62, 31),
 (32, 64, 32),
 (33, 66, 33),
 (34, 68, 34),
 (35, 70, 35),
 (36, 72, 36),
 (37, 74, 37),
 (38, 76, 38),
 (39, 78, 39),
 (40, 80, 40),
 (41, 82, 41),
 (42, 84, 42),
 (43, 86, 43),
 (44, 88, 44),
 (45, 90, 45),
 (46, 92, 46),
 (47, 94, 47),
 (48, 96, 48),
 (49, 98, 49),
 (50, 100, 50),
 (51, 102, 51),
 (52, 104, 52),
 (53, 106, 53),
 (54, 108, 54),
 (55, 110, 55),
 (56, 112, 56),
 (57, 114, 57),
 (58, 116, 58),
 (59, 118, 59),
 (60, 120, 60),
 (61, 122, 61),
 (62, 124, 62),
 (63, 126, 63),
 (64, 128, 64),
 (65, 130, 65),
 (66, 132, 66),
 (67, 134, 67),
 (68, 136, 68),
 (69, 138, 69),
 (70, 140, 70),
 (71, 142, 71),
 (72, 144, 72),
 (73, 146, 73),
 (74, 148, 74),
 (75, 150, 75),
 (76, 152, 76),
 (77, 154, 77),
 (78, 156, 78),
 (79, 158, 79),
 (80, 160, 80),
 (81, 162, 81),
 (82, 164, 82),
 (83, 166, 83),
 (84, 168, 84),
 (85, 170, 85),
 (86, 172, 86),
 (87, 174, 87),
 (88, 176, 88),
 (89, 178, 89),
 (90, 180, 90),
 (91, 182, 91),
 (92, 184, 92),
 (93, 186, 93),
 (94, 188, 94),
 (95, 190, 95),
 (96, 192, 96),
 (97, 194, 97),
 (98, 196, 98),
 (99, 198, 99),
 (100, 200, 100),
 (101, 202, 101),
 (102, 204, 102),
 (103, 206, 103),
 (104, 208, 104),
 (105, 210, 105),
 (106, 212, 106),
 (107, 214, 107),
 (108, 216, 108),
 (109, 218, 109)]

In [94]:
department_df = pd.read_csv('/Users/matthewmichael/Desktop/ColumbiaMasters/APAN5310/departmentimport.csv')

In [95]:
department_df = department_df.rename(columns={
    'id': 'id',
    'name': 'name',
    'store_id': 'store_id',
  })

In [100]:
for index, row in department_df[['id', 'name', 'store_id']].iterrows():
    department_id = int(row['id'])   
    store_id = int(row['store_id'])
    name = str(row['name'])
    try:
        cur.executemany("INSERT INTO departments (id, name, store_id) VALUES (%s, %s, %s)", [(department_id, name, store_id)])
        conn.commit()
    except Exception as e:
        print(f"Error inserting batch of rows: {e}")
        conn.rollback()

In [101]:
cur.execute("SELECT * from departments")
departments = cur.fetchall()
departments

[(1, 'Inventory Stocking', 1),
 (2, 'BakDeli', 2),
 (3, 'Bakery', 3),
 (4, 'Management', 4),
 (5, 'Inventory Stocking', 5),
 (6, 'Fish', 6),
 (7, 'Management', 7),
 (8, 'BakDeli', 8),
 (9, 'Bakery', 9),
 (10, 'Fish', 10),
 (11, 'Technology', 11),
 (12, 'Accounting', 12),
 (13, 'Fish', 13),
 (14, 'BakDeli', 14),
 (15, 'Management', 15),
 (16, 'Fish', 16),
 (17, 'Cashier', 17),
 (18, 'Cashier', 18),
 (19, 'Inventory Stocking', 19),
 (20, 'Technology', 20),
 (21, 'Inventory Stocking', 21),
 (22, 'BakDeli', 22),
 (23, 'Cashier', 23),
 (24, 'Produce', 24),
 (25, 'Cashier', 25),
 (26, 'Produce', 26),
 (27, 'Produce', 27),
 (28, 'Accounting', 28),
 (29, 'Bakery', 29),
 (30, 'Produce', 30),
 (31, 'BakDeli', 31),
 (32, 'Inventory Stocking', 32),
 (33, 'Fish', 33),
 (34, 'Technology', 34),
 (35, 'Technology', 35),
 (36, 'Technology', 36),
 (37, 'Inventory Stocking', 37),
 (38, 'Cashier', 38),
 (39, 'BakDeli', 39),
 (40, 'Management', 40),
 (41, 'Accounting', 41),
 (42, 'Technology', 42),
 (43, 'Accounting', 43),
 (44, 'Fish', 44),
 (45, 'Management', 45),
 (46, 'Accounting', 46),
 (47, 'Fish', 47),
 (48, 'Cashier', 48),
 (49, 'BakDeli', 49),
 (50, 'Produce', 50),
 (51, 'Produce', 51),
 (52, 'Accounting', 52),
 (53, 'Produce', 53),
 (54, 'Inventory Stocking', 54),
 (55, 'Produce', 55),
 (56, 'BakDeli', 56),
 (57, 'Fish', 57),
 (58, 'Bakery', 58),
 (59, 'Bakery', 59),
 (60, 'Accounting', 60),
 (61, 'Inventory Stocking', 61),
 (62, 'Technology', 62),
 (63, 'Fish', 63),
 (64, 'Inventory Stocking', 64),
 (65, 'BakDeli', 65),
 (66, 'Management', 66),
 (67, 'Produce', 67),
 (68, 'Technology', 68),
 (69, 'BakDeli', 69),
 (70, 'Technology', 70),
 (71, 'Fish', 71),
 (72, 'Fish', 72),
 (73, 'Inventory Stocking', 73),
 (74, 'Accounting', 74),
 (75, 'Bakery', 75),
 (76, 'Produce', 76),
 (77, 'Inventory Stocking', 77),
 (78, 'BakDeli', 78),
 (79, 'Inventory Stocking', 79),
 (80, 'Technology', 80),
 (81, 'BakDeli', 81),
 (82, 'Inventory Stocking', 82),
 (83, 'Cashier', 83),
 (84, 'BakDeli', 84),
 (85, 'Accounting', 85),
 (86, 'Technology', 86),
 (87, 'Produce', 87),
 (88, 'Inventory Stocking', 88),
 (89, 'Bakery', 89),
 (90, 'Management', 90),
 (91, 'Cashier', 91),
 (92, 'Fish', 92),
 (93, 'BakDeli', 93),
 (94, 'Management', 94),
 (95, 'Management', 95),
 (96, 'Technology', 96),
 (97, 'Fish', 97),
 (98, 'Technology', 98),
 (99, 'Management', 99),
 (100, 'BakDeli', 100),
 (101, 'BakDeli', 101),
 (102, 'BakDeli', 102),
 (103, 'Accounting', 103),
 (104, 'Inventory Stocking', 104),
 (105, 'Cashier', 105),
 (106, 'Inventory Stocking', 106),
 (107, 'Technology', 107),
 (108, 'Fish', 108),
 (109, 'Management', 109)]

In [102]:
inventory_df = pd.read_csv('/Users/matthewmichael/Desktop/ColumbiaMasters/APAN5310/Inventoryimport.csv')

In [105]:
inventory_df = inventory_df.rename(columns={'Inventory Stock': 'inventory_stock', 'date': 'date'})

In [109]:
for index, row in inventory_df[['inventory_stock','Date']].iterrows():
    try:
        cur.executemany("INSERT INTO inventory (inventory_stock, date) VALUES (%s, %s)", [(row['inventory_stock'], row['Date'])])
        conn.commit()
    except Exception as e:
        print(f"Error inserting batch of rows: {e}")
        conn.rollback()

In [110]:
cur.execute("SELECT * from inventory")
inventory = cur.fetchall()
inventory

[(1, 235, datetime.date(2022, 1, 1)),
 (2, 236, datetime.date(2022, 1, 2)),
 (3, 237, datetime.date(2022, 1, 3)),
 (4, 238, datetime.date(2022, 1, 4)),
 (5, 239, datetime.date(2022, 1, 5)),
 (6, 240, datetime.date(2022, 1, 6)),
 (7, 241, datetime.date(2022, 1, 7)),
 (8, 242, datetime.date(2022, 1, 8)),
 (9, 243, datetime.date(2022, 1, 9)),
 (10, 244, datetime.date(2022, 1, 10)),
 (11, 245, datetime.date(2022, 1, 11)),
 (12, 246, datetime.date(2022, 1, 12)),
 (13, 247, datetime.date(2022, 1, 13)),
 (14, 248, datetime.date(2022, 1, 14)),
 (15, 249, datetime.date(2022, 1, 15)),
 (16, 250, datetime.date(2022, 1, 16)),
 (17, 251, datetime.date(2022, 1, 17)),
 (18, 252, datetime.date(2022, 1, 18)),
 (19, 253, datetime.date(2022, 1, 19)),
 (20, 254, datetime.date(2022, 1, 20)),
 (21, 255, datetime.date(2022, 1, 21)),
 (22, 256, datetime.date(2022, 1, 22)),
 (23, 257, datetime.date(2022, 1, 23)),
 (24, 258, datetime.date(2022, 1, 24)),
 (25, 259, datetime.date(2022, 1, 25)),
 (26, 260, datetime.date(2022, 1, 26)),
 (27, 261, datetime.date(2022, 1, 27)),
 (28, 262, datetime.date(2022, 1, 28)),
 (29, 263, datetime.date(2022, 1, 29)),
 (30, 264, datetime.date(2022, 1, 30)),
 (31, 265, datetime.date(2022, 1, 31)),
 (32, 266, datetime.date(2022, 2, 1)),
 (33, 267, datetime.date(2022, 2, 2)),
 (34, 268, datetime.date(2022, 2, 3)),
 (35, 269, datetime.date(2022, 2, 4)),
 (36, 270, datetime.date(2022, 2, 5)),
 (37, 271, datetime.date(2022, 2, 6)),
 (38, 272, datetime.date(2022, 2, 7)),
 (39, 273, datetime.date(2022, 2, 8)),
 (40, 274, datetime.date(2022, 2, 9)),
 (41, 275, datetime.date(2022, 2, 10)),
 (42, 276, datetime.date(2022, 2, 11)),
 (43, 277, datetime.date(2022, 2, 12)),
 (44, 278, datetime.date(2022, 2, 13)),
 (45, 279, datetime.date(2022, 2, 14)),
 (46, 280, datetime.date(2022, 2, 15)),
 (47, 281, datetime.date(2022, 2, 16)),
 (48, 282, datetime.date(2022, 2, 17)),
 (49, 283, datetime.date(2022, 2, 18)),
 (50, 284, datetime.date(2022, 2, 19)),
 (51, 285, datetime.date(2022, 2, 20)),
 (52, 286, datetime.date(2022, 2, 21)),
 (53, 287, datetime.date(2022, 2, 22)),
 (54, 288, datetime.date(2022, 2, 23)),
 (55, 289, datetime.date(2022, 2, 24)),
 (56, 290, datetime.date(2022, 2, 25)),
 (57, 291, datetime.date(2022, 2, 26)),
 (58, 292, datetime.date(2022, 2, 27)),
 (59, 293, datetime.date(2022, 2, 28)),
 (60, 294, datetime.date(2022, 3, 1)),
 (61, 295, datetime.date(2022, 3, 2)),
 (62, 296, datetime.date(2022, 3, 3)),
 (63, 297, datetime.date(2022, 3, 4)),
 (64, 298, datetime.date(2022, 3, 5)),
 (65, 299, datetime.date(2022, 3, 6)),
 (66, 300, datetime.date(2022, 3, 7)),
 (67, 301, datetime.date(2022, 3, 8)),
 (68, 302, datetime.date(2022, 3, 9)),
 (69, 303, datetime.date(2022, 3, 10)),
 (70, 304, datetime.date(2022, 3, 11)),
 (71, 305, datetime.date(2022, 3, 12)),
 (72, 306, datetime.date(2022, 3, 13)),
 (73, 307, datetime.date(2022, 3, 14)),
 (74, 308, datetime.date(2022, 3, 15)),
 (75, 309, datetime.date(2022, 3, 16)),
 (76, 310, datetime.date(2022, 3, 17)),
 (77, 311, datetime.date(2022, 3, 18)),
 (78, 312, datetime.date(2022, 3, 19)),
 (79, 313, datetime.date(2022, 3, 20)),
 (80, 314, datetime.date(2022, 3, 21)),
 (81, 315, datetime.date(2022, 3, 22)),
 (82, 316, datetime.date(2022, 3, 23)),
 (83, 317, datetime.date(2022, 3, 24)),
 (84, 318, datetime.date(2022, 3, 25)),
 (85, 319, datetime.date(2022, 3, 26)),
 (86, 320, datetime.date(2022, 3, 27)),
 (87, 321, datetime.date(2022, 3, 28)),
 (88, 322, datetime.date(2022, 3, 29)),
 (89, 323, datetime.date(2022, 3, 30)),
 (90, 324, datetime.date(2022, 3, 31)),
 (91, 325, datetime.date(2022, 4, 1)),
 (92, 326, datetime.date(2022, 4, 2)),
 (93, 327, datetime.date(2022, 4, 3)),
 (94, 328, datetime.date(2022, 4, 4)),
 (95, 329, datetime.date(2022, 4, 5)),
 (96, 330, datetime.date(2022, 4, 6)),
 (97, 331, datetime.date(2022, 4, 7)),
 (98, 332, datetime.date(2022, 4, 8)),
 (99, 333, datetime.date(2022, 4, 9)),
 (100, 334, datetime.date(2022, 4, 10)),
 (101, 335, datetime.date(2022, 4, 11)),
 (102, 336, datetime.date(2022, 4, 12)),
 (103, 337, datetime.date(2022, 4, 13)),
 (104, 338, datetime.date(2022, 4, 14)),
 (105, 339, datetime.date(2022, 4, 15)),
 (106, 340, datetime.date(2022, 4, 16)),
 (107, 341, datetime.date(2022, 4, 17)),
 (108, 342, datetime.date(2022, 4, 18)),
 (109, 343, datetime.date(2022, 4, 19))]

In [111]:
items_df = pd.read_csv('/Users/matthewmichael/Desktop/ColumbiaMasters/APAN5310/itemsimport.csv')

In [114]:
items_df = items_df.rename(columns={
    'item_name': 'name',
    'purchase_price': 'purchase_price',
    'purchase_date': 'purchase_date',
    'delivery_id': 'delivery_id',
    'cart_id': 'cart_id',
    'inventory_id': 'inventory_id'
  })

In [115]:
for index, row in items_df[['name','purchase_price', 'purchase_date', 'delivery_id', 'cart_id', 'inventory_id']].iterrows():
    try:
        cur.executemany("INSERT INTO items (name,purchase_price, purchase_date, delivery_id, cart_id, inventory_id) VALUES (%s, %s, %s, %s, %s, %s)", [(row['name'], row['purchase_price'], row['purchase_date'], row['delivery_id'], row['cart_id'], row['inventory_id'])])
        conn.commit()
    except Exception as e:
        print(f"Error inserting batch of rows: {e}")
        conn.rollback()

In [116]:
cur.execute("SELECT * from items")
items = cur.fetchall()
items

[(1, 'Stim', Decimal('72.89'), datetime.date(2022, 10, 20), 1, 1, 1),
 (2, 'Overhold', Decimal('438.03'), datetime.date(2022, 9, 18), 2, 2, 2),
 (3, 'Tres-Zap', Decimal('292.32'), datetime.date(2022, 9, 12), 3, 3, 3),
 (4, 'Holdlamis', Decimal('423.1'), datetime.date(2022, 11, 4), 4, 4, 4),
 (5, 'Overhold', Decimal('360.32'), datetime.date(2022, 5, 17), 5, 5, 5),
 (6, 'Konklux', Decimal('410.27'), datetime.date(2023, 2, 6), 6, 6, 6),
 (7, 'Treeflex', Decimal('947.96'), datetime.date(2023, 3, 6), 7, 7, 7),
 (8, 'Toughjoyfax', Decimal('722.24'), datetime.date(2023, 1, 13), 8, 8, 8),
 (9, 'Home Ing', Decimal('484.11'), datetime.date(2023, 1, 14), 9, 9, 9),
 (10, 'Prodder', Decimal('581.09'), datetime.date(2023, 3, 25), 10, 10, 10),
 (11, 'Trippledex', Decimal('598.79'), datetime.date(2022, 8, 26), 11, 11, 11),
 (12, 'Home Ing', Decimal('345.57'), datetime.date(2022, 12, 20), 12, 12, 12),
 (13, 'Transcof', Decimal('136.44'), datetime.date(2022, 8, 24), 13, 13, 13),
 (14, 'Bitwolf', Decimal('753.6'), datetime.date(2022, 5, 22), 14, 14, 14),
 (15, 'Regrant', Decimal('550.53'), datetime.date(2022, 7, 20), 15, 15, 15),
 (16, 'Fixflex', Decimal('850.11'), datetime.date(2022, 7, 24), 16, 16, 16),
 (17, 'Asoka', Decimal('845.07'), datetime.date(2022, 7, 18), 17, 17, 17),
 (18, 'Tempsoft', Decimal('754.1'), datetime.date(2022, 7, 28), 18, 18, 18),
 (19, 'Namfix', Decimal('998.81'), datetime.date(2023, 1, 18), 19, 19, 19),
 (20, 'Y-Solowarm', Decimal('559.33'), datetime.date(2023, 1, 2), 20, 20, 20),
 (21, 'Span', Decimal('116.23'), datetime.date(2023, 4, 6), 21, 21, 21),
 (22, 'Tresom', Decimal('531.48'), datetime.date(2022, 8, 27), 22, 22, 22),
 (23, 'Domainer', Decimal('774.57'), datetime.date(2022, 8, 17), 23, 23, 23),
 (24, 'Cardguard', Decimal('952.0'), datetime.date(2023, 1, 3), 24, 24, 24),
 (25, 'Voyatouch', Decimal('181.04'), datetime.date(2022, 10, 7), 25, 25, 25),
 (26, 'Fintone', Decimal('286.97'), datetime.date(2023, 2, 4), 26, 26, 26),
 (27, 'Zoolab', Decimal('612.7'), datetime.date(2022, 6, 18), 27, 27, 27),
 (28, 'Veribet', Decimal('427.35'), datetime.date(2023, 1, 31), 28, 28, 28),
 (29, 'Bytecard', Decimal('789.43'), datetime.date(2022, 11, 8), 29, 29, 29),
 (30, 'Matsoft', Decimal('647.43'), datetime.date(2023, 3, 30), 30, 30, 30),
 (31, 'Sonair', Decimal('778.18'), datetime.date(2022, 6, 21), 31, 31, 31),
 (32, 'Namfix', Decimal('570.95'), datetime.date(2022, 10, 20), 32, 32, 32),
 (33, 'Voyatouch', Decimal('338.95'), datetime.date(2023, 1, 29), 33, 33, 33),
 (34, 'Voltsillam', Decimal('545.11'), datetime.date(2022, 7, 6), 34, 34, 34),
 (35, 'Temp', Decimal('394.04'), datetime.date(2022, 10, 5), 35, 35, 35),
 (36, 'Matsoft', Decimal('770.81'), datetime.date(2022, 9, 4), 36, 36, 36),
 (37, 'Konklab', Decimal('620.04'), datetime.date(2022, 4, 20), 37, 37, 37),
 (38, 'Fintone', Decimal('32.06'), datetime.date(2022, 6, 27), 38, 38, 38),
 (39, 'Pannier', Decimal('246.98'), datetime.date(2022, 5, 14), 39, 39, 39),
 (40, 'Latlux', Decimal('329.6'), datetime.date(2023, 1, 5), 40, 40, 40),
 (41, 'Overhold', Decimal('191.81'), datetime.date(2023, 3, 16), 41, 41, 41),
 (42, 'Tresom', Decimal('218.72'), datetime.date(2022, 12, 11), 42, 42, 42),
 (43, 'Tres-Zap', Decimal('934.97'), datetime.date(2022, 11, 20), 43, 43, 43),
 (44, 'Job', Decimal('721.6'), datetime.date(2022, 9, 20), 44, 44, 44),
 (45, 'Gembucket', Decimal('871.51'), datetime.date(2022, 6, 19), 45, 45, 45),
 (46, 'Tin', Decimal('392.38'), datetime.date(2022, 8, 3), 46, 46, 46),
 (47, 'Stronghold', Decimal('90.68'), datetime.date(2022, 12, 20), 47, 47, 47),
 (48, 'Veribet', Decimal('570.68'), datetime.date(2022, 9, 6), 48, 48, 48),
 (49, 'Vagram', Decimal('195.36'), datetime.date(2023, 2, 24), 49, 49, 49),
 (50, 'It', Decimal('884.88'), datetime.date(2022, 5, 10), 50, 50, 50),
 (51, 'Flexidy', Decimal('589.44'), datetime.date(2023, 4, 2), 51, 51, 51),
 (52, 'Tin', Decimal('767.08'), datetime.date(2022, 12, 11), 52, 52, 52),
 (53, 'Cookley', Decimal('437.32'), datetime.date(2022, 6, 2), 53, 53, 53),
 (54, 'Bitwolf', Decimal('854.52'), datetime.date(2022, 9, 7), 54, 54, 54),
 (55, 'Duobam', Decimal('836.25'), datetime.date(2023, 3, 16), 55, 55, 55),
 (56, 'Tres-Zap', Decimal('99.62'), datetime.date(2023, 2, 8), 56, 56, 56),
 (57, 'Sub-Ex', Decimal('594.59'), datetime.date(2023, 1, 12), 57, 57, 57),
 (58, 'Latlux', Decimal('424.94'), datetime.date(2022, 9, 8), 58, 58, 58),
 (59, 'Cardify', Decimal('90.62'), datetime.date(2022, 8, 27), 59, 59, 59),
 (60,
  'Ventosanzap',
  Decimal('505.79'),
  datetime.date(2022, 8, 31),
  60,
  60,
  60),
 (61, 'Quo Lux', Decimal('837.58'), datetime.date(2022, 5, 6), 61, 61, 61),
 (62, 'Lotlux', Decimal('247.06'), datetime.date(2022, 8, 10), 62, 62, 62),
 (63, 'Zamit', Decimal('199.96'), datetime.date(2023, 1, 6), 63, 63, 63),
 (64, 'Flowdesk', Decimal('686.93'), datetime.date(2022, 8, 28), 64, 64, 64),
 (65, 'Treeflex', Decimal('980.64'), datetime.date(2022, 12, 7), 65, 65, 65),
 (66,
  'Toughjoyfax',
  Decimal('310.23'),
  datetime.date(2023, 1, 14),
  66,
  66,
  66),
 (67, 'Bitwolf', Decimal('88.42'), datetime.date(2022, 5, 12), 67, 67, 67),
 (68, 'Konklux', Decimal('94.94'), datetime.date(2023, 2, 11), 68, 68, 68),
 (69, 'Cardify', Decimal('794.8'), datetime.date(2022, 10, 14), 69, 69, 69),
 (70, 'Y-Solowarm', Decimal('429.55'), datetime.date(2022, 8, 2), 70, 70, 70),
 (71, 'Tres-Zap', Decimal('188.22'), datetime.date(2023, 2, 21), 71, 71, 71),
 (72, 'Tempsoft', Decimal('829.71'), datetime.date(2022, 8, 15), 72, 72, 72),
 (73, 'Matsoft', Decimal('258.45'), datetime.date(2022, 4, 27), 73, 73, 73),
 (74, 'Viva', Decimal('400.34'), datetime.date(2022, 6, 24), 74, 74, 74),
 (75, 'Opela', Decimal('641.08'), datetime.date(2022, 12, 2), 75, 75, 75),
 (76, 'Flowdesk', Decimal('544.07'), datetime.date(2022, 6, 21), 76, 76, 76),
 (77, 'Tresom', Decimal('334.2'), datetime.date(2023, 3, 7), 77, 77, 77),
 (78, 'Zathin', Decimal('420.0'), datetime.date(2022, 9, 9), 78, 78, 78),
 (79, 'Otcom', Decimal('112.05'), datetime.date(2022, 5, 16), 79, 79, 79),
 (80, 'Alpha', Decimal('957.69'), datetime.date(2023, 1, 27), 80, 80, 80),
 (81, 'Alpha', Decimal('194.27'), datetime.date(2022, 7, 28), 81, 81, 81),
 (82, 'Redhold', Decimal('135.67'), datetime.date(2022, 4, 28), 82, 82, 82),
 (83, 'Domainer', Decimal('204.77'), datetime.date(2022, 11, 23), 83, 83, 83),
 (84,
  'Toughjoyfax',
  Decimal('965.64'),
  datetime.date(2023, 3, 12),
  84,
  84,
  84),
 (85, 'Treeflex', Decimal('563.09'), datetime.date(2022, 11, 18), 85, 85, 85),
 (86, 'Fix San', Decimal('231.41'), datetime.date(2022, 10, 17), 86, 86, 86),
 (87, 'Konklab', Decimal('413.49'), datetime.date(2022, 7, 14), 87, 87, 87),
 (88, 'Daltfresh', Decimal('886.76'), datetime.date(2022, 5, 10), 88, 88, 88),
 (89, 'Fix San', Decimal('746.64'), datetime.date(2022, 8, 3), 89, 89, 89),
 (90, 'Subin', Decimal('449.66'), datetime.date(2023, 2, 6), 90, 90, 90),
 (91, 'Kanlam', Decimal('166.27'), datetime.date(2023, 3, 16), 91, 91, 91),
 (92,
  'Y-Solowarm',
  Decimal('808.29'),
  datetime.date(2022, 12, 16),
  92,
  92,
  92),
 (93, 'Rank', Decimal('816.64'), datetime.date(2022, 11, 1), 93, 93, 93),
 (94, 'Gembucket', Decimal('767.84'), datetime.date(2022, 10, 3), 94, 94, 94),
 (95, 'Konklux', Decimal('262.67'), datetime.date(2023, 2, 17), 95, 95, 95),
 (96,
  'Mat Lam Tam',
  Decimal('134.81'),
  datetime.date(2022, 10, 10),
  96,
  96,
  96),
 (97, 'Transcof', Decimal('273.8'), datetime.date(2023, 3, 8), 97, 97, 97),
 (98, 'Hatity', Decimal('314.8'), datetime.date(2022, 6, 30), 98, 98, 98),
 (99, 'Prodder', Decimal('959.87'), datetime.date(2022, 6, 21), 99, 99, 99),
 (100, 'Zoolab', Decimal('981.0'), datetime.date(2022, 6, 4), 100, 100, 100),
 (101,
  'Domainer',
  Decimal('411.06'),
  datetime.date(2022, 10, 28),
  101,
  101,
  101),
 (102,
  'Stringtough',
  Decimal('900.46'),
  datetime.date(2022, 12, 29),
  102,
  102,
  102),
 (103,
  'Voyatouch',
  Decimal('467.71'),
  datetime.date(2022, 8, 15),
  103,
  103,
  103),
 (104,
  'Bitwolf',
  Decimal('988.21'),
  datetime.date(2022, 7, 17),
  104,
  104,
  104),
 (105,
  'Overhold',
  Decimal('613.07'),
  datetime.date(2023, 1, 5),
  105,
  105,
  105),
 (106,
  'Quo Lux',
  Decimal('804.56'),
  datetime.date(2022, 11, 8),
  106,
  106,
  106),
 (107,
  'Stringtough',
  Decimal('953.47'),
  datetime.date(2022, 5, 31),
  107,
  107,
  107),
 (108,
  'Y-Solowarm',
  Decimal('328.77'),
  datetime.date(2022, 8, 12),
  108,
  108,
  108),
 (109,
  'Lotstring',
  Decimal('690.16'),
  datetime.date(2022, 12, 9),
  109,
  109,
  109)]

In [123]:
accounts_df = pd.read_csv('/Users/matthewmichael/Desktop/ColumbiaMasters/APAN5310/accountsimport.csv')

In [124]:
accounts_df = accounts_df.rename(columns={
    'account_number': 'account_number',
    'Account Type': 'account_type',
    'Balance': 'balance',
  })

In [125]:
for index, row in accounts_df[['account_number','account_type', 'balance']].iterrows():
    try:
        cur.executemany("INSERT INTO accounts (account_number,account_type, balance) VALUES (%s, %s, %s)", [(row['account_number'], row['account_type'], row['balance'])])
        conn.commit()
    except Exception as e:
        print(f"Error inserting batch of rows: {e}")
        conn.rollback()

In [126]:
cur.execute("SELECT * from accounts")
accounts = cur.fetchall()
accounts

[('839-421-780', 'Checking', Decimal('29779.386')),
 ('674-387-743', 'Growth', Decimal('60911.37')),
 ('499-475-625', 'Checking', Decimal('12950.262')),
 ('148-864-430', 'Checking', Decimal('88995.975')),
 ('343-618-228', 'Checking', Decimal('34137.483')),
 ('774-048-151', 'Growth', Decimal('96257.267')),
 ('544-909-899', 'Reserve', Decimal('9379.699')),
 ('296-674-493', 'Growth', Decimal('45737.732')),
 ('217-923-000', 'Reserve', Decimal('77257.412')),
 ('245-071-566', 'Growth', Decimal('43373.237')),
 ('286-488-315', 'Checking', Decimal('30941.664')),
 ('699-304-547', 'Checking', Decimal('3590.535')),
 ('461-884-908', 'Growth', Decimal('13383.97')),
 ('889-569-904', 'Growth', Decimal('22026.024')),
 ('839-807-127', 'Reserve', Decimal('73588.411')),
 ('671-231-432', 'Growth', Decimal('89435.581')),
 ('493-399-570', 'Growth', Decimal('96029.009')),
 ('344-671-065', 'Growth', Decimal('46135.716')),
 ('435-375-473', 'Reserve', Decimal('20898.456')),
 ('655-545-755', 'Growth', Decimal('77147.854')),
 ('099-934-544', 'Checking', Decimal('35152.076')),
 ('512-521-964', 'Checking', Decimal('88464.667')),
 ('938-440-310', 'Reserve', Decimal('12757.817')),
 ('451-441-668', 'Checking', Decimal('50020.109')),
 ('602-144-707', 'Checking', Decimal('54416.266')),
 ('684-216-901', 'Reserve', Decimal('55829.834')),
 ('471-826-753', 'Growth', Decimal('92021.2')),
 ('548-235-786', 'Reserve', Decimal('16781.162')),
 ('998-493-485', 'Checking', Decimal('3206.035')),
 ('141-116-634', 'Growth', Decimal('88245.134')),
 ('437-256-070', 'Reserve', Decimal('1137.495')),
 ('408-281-061', 'Checking', Decimal('14417.243')),
 ('088-468-703', 'Growth', Decimal('61370.679')),
 ('161-497-850', 'Growth', Decimal('78624.009')),
 ('572-268-948', 'Checking', Decimal('88331.752')),
 ('300-050-746', 'Growth', Decimal('94487.669')),
 ('966-548-502', 'Growth', Decimal('84529.824')),
 ('103-256-557', 'Reserve', Decimal('51188.262')),
 ('176-226-928', 'Checking', Decimal('58290.284')),
 ('544-440-008', 'Reserve', Decimal('30901.03')),
 ('828-392-880', 'Growth', Decimal('35483.928')),
 ('049-380-041', 'Reserve', Decimal('22197.208')),
 ('530-167-077', 'Checking', Decimal('59852.204')),
 ('129-891-077', 'Growth', Decimal('15871.929')),
 ('299-369-890', 'Growth', Decimal('10778.848')),
 ('696-851-707', 'Reserve', Decimal('45828.557')),
 ('818-087-905', 'Growth', Decimal('70800.833')),
 ('643-752-753', 'Growth', Decimal('70869.925')),
 ('300-052-394', 'Growth', Decimal('52706.084')),
 ('848-985-746', 'Growth', Decimal('47446.785')),
 ('367-779-749', 'Reserve', Decimal('6535.419')),
 ('831-677-161', 'Checking', Decimal('21684.129')),
 ('436-836-719', 'Reserve', Decimal('49117.164')),
 ('138-365-634', 'Checking', Decimal('31707.66')),
 ('347-299-470', 'Checking', Decimal('55113.176')),
 ('949-029-785', 'Growth', Decimal('77245.34')),
 ('752-860-320', 'Reserve', Decimal('68102.671')),
 ('332-597-433', 'Reserve', Decimal('42761.317')),
 ('861-512-788', 'Reserve', Decimal('43764.584')),
 ('141-356-147', 'Reserve', Decimal('25883.704')),
 ('446-176-458', 'Reserve', Decimal('61147.915')),
 ('388-324-309', 'Reserve', Decimal('26365.007')),
 ('184-170-102', 'Reserve', Decimal('22363.382')),
 ('920-503-526', 'Growth', Decimal('14158.898')),
 ('662-904-589', 'Checking', Decimal('80186.014')),
 ('109-134-696', 'Reserve', Decimal('2155.748')),
 ('112-566-945', 'Growth', Decimal('43802.483')),
 ('538-231-002', 'Checking', Decimal('1490.455')),
 ('974-708-663', 'Checking', Decimal('78743.476')),
 ('243-741-734', 'Reserve', Decimal('32711.146')),
 ('550-951-618', 'Growth', Decimal('61921.904')),
 ('281-109-803', 'Reserve', Decimal('29950.005')),
 ('782-382-682', 'Checking', Decimal('15065.937')),
 ('332-993-439', 'Checking', Decimal('34479.356')),
 ('899-697-468', 'Checking', Decimal('23554.772')),
 ('024-009-676', 'Reserve', Decimal('35849.298')),
 ('139-157-761', 'Growth', Decimal('76140.062')),
 ('808-794-090', 'Reserve', Decimal('68723.58')),
 ('354-379-939', 'Checking', Decimal('15287.627')),
 ('954-779-087', 'Reserve', Decimal('70338.994')),
 ('397-571-890', 'Checking', Decimal('94840.041')),
 ('308-692-555', 'Reserve', Decimal('67686.917')),
 ('471-543-978', 'Checking', Decimal('93126.519')),
 ('113-740-906', 'Reserve', Decimal('14681.857')),
 ('274-665-088', 'Checking', Decimal('55904.005')),
 ('853-758-311', 'Growth', Decimal('51491.988')),
 ('356-279-237', 'Growth', Decimal('11345.787')),
 ('999-275-523', 'Reserve', Decimal('67316.259')),
 ('565-510-238', 'Checking', Decimal('83022.702')),
 ('308-829-581', 'Growth', Decimal('17731.417')),
 ('721-338-700', 'Growth', Decimal('48343.833')),
 ('933-976-251', 'Reserve', Decimal('96542.85')),
 ('911-412-470', 'Checking', Decimal('96641.5')),
 ('244-529-005', 'Reserve', Decimal('84876.904')),
 ('796-423-819', 'Checking', Decimal('17063.651')),
 ('706-381-671', 'Reserve', Decimal('99506.438')),
 ('095-751-641', 'Growth', Decimal('39788.012')),
 ('626-942-336', 'Reserve', Decimal('86481.135')),
 ('023-342-950', 'Growth', Decimal('88856.636')),
 ('803-949-790', 'Reserve', Decimal('27081.654')),
 ('812-251-597', 'Reserve', Decimal('47928.163')),
 ('815-749-190', 'Reserve', Decimal('7537.733')),
 ('912-115-385', 'Checking', Decimal('83128.035')),
 ('911-964-938', 'Reserve', Decimal('68893.172')),
 ('822-931-586', 'Reserve', Decimal('21447.878')),
 ('123-908-726', 'Reserve', Decimal('2971.999')),
 ('238-682-063', 'Growth', Decimal('36855.665')),
 ('960-110-989', 'Checking', Decimal('90254.374')),
 ('685-671-855', 'Growth', Decimal('35516.274')),
 ('NaN', 'Growth', Decimal('NaN'))]

In [127]:
campaign_df = pd.read_csv('/Users/matthewmichael/Desktop/ColumbiaMasters/APAN5310/campaignimport.csv')

In [128]:
campaign_df = campaign_df.rename(columns={
    'campaign_budget': 'campaign_budget',
    'department_id': 'department_id',
  })

In [133]:
import decimal
for index, row in campaign_df[['campaign_budget','department_id']].iterrows():
    campaign_budget = decimal.Decimal(int(row['campaign_budget']))   
    department_id = int(row['department_id'])
    try:
        cur.executemany("INSERT INTO marketing_campaigns (campaign_budget,department_id) VALUES (%s, %s)", [(campaign_budget, department_id)])
        conn.commit()
    except Exception as e:
        print(f"Error inserting batch of rows: {e}")
        conn.rollback()

In [134]:
cur.execute("SELECT * from marketing_campaigns")
campaigns = cur.fetchall()
campaigns

[(1, Decimal('500'), 1),
 (2, Decimal('530'), 2),
 (3, Decimal('560'), 3),
 (4, Decimal('590'), 4),
 (5, Decimal('620'), 5),
 (6, Decimal('650'), 6),
 (7, Decimal('680'), 7),
 (8, Decimal('710'), 8),
 (9, Decimal('740'), 9),
 (10, Decimal('770'), 10),
 (11, Decimal('800'), 11),
 (12, Decimal('830'), 12),
 (13, Decimal('860'), 13),
 (14, Decimal('890'), 14),
 (15, Decimal('920'), 15),
 (16, Decimal('950'), 16),
 (17, Decimal('980'), 17),
 (18, Decimal('1010'), 18),
 (19, Decimal('1040'), 19),
 (20, Decimal('1070'), 20),
 (21, Decimal('1100'), 21),
 (22, Decimal('1130'), 22),
 (23, Decimal('1160'), 23),
 (24, Decimal('1190'), 24),
 (25, Decimal('1220'), 25),
 (26, Decimal('1250'), 26),
 (27, Decimal('1280'), 27),
 (28, Decimal('1310'), 28),
 (29, Decimal('1340'), 29),
 (30, Decimal('1370'), 30),
 (31, Decimal('1400'), 31),
 (32, Decimal('1430'), 32),
 (33, Decimal('1460'), 33),
 (34, Decimal('1490'), 34),
 (35, Decimal('1520'), 35),
 (36, Decimal('1550'), 36),
 (37, Decimal('1580'), 37),
 (38, Decimal('1610'), 38),
 (39, Decimal('1640'), 39),
 (40, Decimal('1670'), 40),
 (41, Decimal('1700'), 41),
 (42, Decimal('1730'), 42),
 (43, Decimal('1760'), 43),
 (44, Decimal('1790'), 44),
 (45, Decimal('1820'), 45),
 (46, Decimal('1850'), 46),
 (47, Decimal('1880'), 47),
 (48, Decimal('1910'), 48),
 (49, Decimal('1940'), 49),
 (50, Decimal('1970'), 50),
 (51, Decimal('2000'), 51),
 (52, Decimal('2030'), 52),
 (53, Decimal('2060'), 53),
 (54, Decimal('2090'), 54),
 (55, Decimal('2120'), 55),
 (56, Decimal('2150'), 56),
 (57, Decimal('2180'), 57),
 (58, Decimal('2210'), 58),
 (59, Decimal('2240'), 59),
 (60, Decimal('2270'), 60),
 (61, Decimal('2300'), 61),
 (62, Decimal('2330'), 62),
 (63, Decimal('2360'), 63),
 (64, Decimal('2390'), 64),
 (65, Decimal('2420'), 65),
 (66, Decimal('2450'), 66),
 (67, Decimal('2480'), 67),
 (68, Decimal('2510'), 68),
 (69, Decimal('2540'), 69),
 (70, Decimal('2570'), 70),
 (71, Decimal('2600'), 71),
 (72, Decimal('2630'), 72),
 (73, Decimal('2660'), 73),
 (74, Decimal('2690'), 74),
 (75, Decimal('2720'), 75),
 (76, Decimal('2750'), 76),
 (77, Decimal('2780'), 77),
 (78, Decimal('2810'), 78),
 (79, Decimal('2840'), 79),
 (80, Decimal('2870'), 80),
 (81, Decimal('2900'), 81),
 (82, Decimal('2930'), 82),
 (83, Decimal('2960'), 83),
 (84, Decimal('2990'), 84),
 (85, Decimal('3020'), 85),
 (86, Decimal('3050'), 86),
 (87, Decimal('3080'), 87),
 (88, Decimal('3110'), 88),
 (89, Decimal('3140'), 89),
 (90, Decimal('3170'), 90),
 (91, Decimal('3200'), 91),
 (92, Decimal('3230'), 92),
 (93, Decimal('3260'), 93),
 (94, Decimal('3290'), 94),
 (95, Decimal('3320'), 95),
 (96, Decimal('3350'), 96),
 (97, Decimal('3380'), 97),
 (98, Decimal('3410'), 98),
 (99, Decimal('3440'), 99),
 (100, Decimal('3470'), 100),
 (101, Decimal('3500'), 101),
 (102, Decimal('3530'), 102),
 (103, Decimal('3560'), 103),
 (104, Decimal('3590'), 104),
 (105, Decimal('3620'), 105),
 (106, Decimal('3650'), 106),
 (107, Decimal('3680'), 107),
 (108, Decimal('3710'), 108),
 (109, Decimal('3740'), 109)]

In [137]:
loyalty_df = pd.read_csv('/Users/matthewmichael/Desktop/ColumbiaMasters/APAN5310/loyaltymemberimport.csv')

In [138]:
loyalty_df = loyalty_df.rename(columns={
    'loyalty_member_first_name': 'first_name',
    'loyalty_member_last_name': 'last_name',
    'loyalty_level': 'level',
    'loyalty_member_email': 'email',
    'Primary Number': 'primary_number',
    'address_id': 'address_id',
  })

In [140]:
for index, row in loyalty_df[['first_name','last_name', 'level', 'email', 'primary_number', 'address_id']].iterrows():
    try:
        cur.executemany("INSERT INTO loyalty_member (first_name,last_name, level, email, primary_number, address_id) VALUES (%s, %s, %s, %s, %s, %s)", [(row['first_name'], row['last_name'], row['level'], row['email'], row['primary_number'], row['address_id'])])
        conn.commit()
    except Exception as e:
        print(f"Error inserting batch of rows: {e}")
        conn.rollback()

In [141]:
cur.execute("SELECT * from loyalty_member")
loyalty = cur.fetchall()
loyalty

[(1,
  'Maurise',
  'Gilhooly',
  'Silver',
  'mgilhooly0@studiopress.com',
  '431-216-0841',
  1),
 (2,
  'Trish',
  'Jerrams',
  'Platinum',
  'tjerrams1@sfgate.com',
  '394-913-2071',
  2),
 (3, 'Allen', 'Muzzini', 'Silver', 'amuzzini2@cpanel.net', '849-028-1051', 3),
 (4, 'Anya', 'Milland', 'Gold', 'amilland3@zdnet.com', '294-548-1631', 4),
 (5, 'Beitris', 'Jantel', 'Gold', 'bjantel4@people.com.cn', '343-384-2751', 5),
 (6, 'Estele', 'Marques', 'Platinum', 'emarques5@epa.gov', '476-082-9371', 6),
 (7,
  'Dietrich',
  'Frunks',
  'Silver',
  'dfrunks6@thetimes.co.uk',
  '966-849-3511',
  7),
 (8,
  'Lay',
  'Zorzenoni',
  'Platinum',
  'lzorzenoni7@bizjournals.com',
  '671-364-1051',
  8),
 (9, 'Martelle', 'McBrier', 'Gold', 'mmcbrier8@amazon.de', '720-904-8491', 9),
 (10,
  'Waldo',
  'Domerque',
  'Silver',
  'wdomerque9@disqus.com',
  '772-779-9951',
  10),
 (11,
  'Minta',
  'Sullivan',
  'Bronze',
  'msullivana@cafepress.com',
  '801-585-4591',
  11),
 (12,
  'Ursola',
  'Sidebottom',
  'Gold',
  'usidebottomb@arstechnica.com',
  '956-687-4221',
  12),
 (13, 'Mildrid', 'Ather', 'Bronze', 'matherc@fc2.com', '700-908-1101', 13),
 (14,
  'Solly',
  'Kennifick',
  'Silver',
  'skennifickd@google.it',
  '427-601-9381',
  14),
 (15,
  'Griselda',
  'McIntosh',
  'Bronze',
  'gmcintoshe@xrea.com',
  '338-205-8851',
  15),
 (16,
  'Nikki',
  'Shotboulte',
  'Bronze',
  'nshotboultef@ucla.edu',
  '008-722-7611',
  16),
 (17,
  'Helenelizabeth',
  'Baseke',
  'Platinum',
  'hbasekeg@theglobeandmail.com',
  '774-920-3511',
  17),
 (18,
  'Kellen',
  'Rowth',
  'Gold',
  'krowthh@domainmarket.com',
  '158-942-3211',
  18),
 (19,
  'Nicole',
  'Gatsby',
  'Silver',
  'ngatsbyi@tinypic.com',
  '394-993-5141',
  19),
 (20,
  'Morris',
  'Cassimer',
  'Platinum',
  'mcassimerj@utexas.edu',
  '807-642-6071',
  20),
 (21, 'Lyle', 'Illes', 'Platinum', 'lillesk@cnbc.com', '824-614-7741', 21),
 (22,
  'Nickey',
  'Gidden',
  'Bronze',
  'ngiddenl@hubpages.com',
  '668-818-4851',
  22),
 (23,
  'Stinky',
  'Sisnett',
  'Silver',
  'ssisnettm@twitpic.com',
  '632-820-9711',
  23),
 (24, 'Xever', 'Tustin', 'Bronze', 'xtustinn@ustream.tv', '285-688-4061', 24),
 (25,
  'Garvy',
  'Nickell',
  'Bronze',
  'gnickello@quantcast.com',
  '794-942-1931',
  25),
 (26,
  'Waldemar',
  'Cowthard',
  'Gold',
  'wcowthardp@mail.ru',
  '446-198-1251',
  26),
 (27,
  'Guillermo',
  'Poulglais',
  'Platinum',
  'gpoulglaisq@huffingtonpost.com',
  '875-955-3221',
  27),
 (28, 'Amitie', 'Vertey', 'Platinum', 'averteyr@360.cn', '733-924-3161', 28),
 (29,
  'Kathrine',
  'Kennea',
  'Platinum',
  'kkenneas@nymag.com',
  '398-289-2521',
  29),
 (30, 'Justinn', 'Syder', 'Platinum', 'jsydert@soup.io', '506-342-0691', 30),
 (31,
  'Jeannine',
  'Bridgeman',
  'Silver',
  'jbridgemanu@ning.com',
  '168-308-3921',
  31),
 (32, 'Valida', 'Margach', 'Gold', 'vmargachv@ebay.com', '355-624-9781', 32),
 (33, 'Kristen', 'Sangar', 'Bronze', 'ksangarw@ted.com', '037-087-0121', 33),
 (34,
  'Paco',
  'Beckworth',
  'Gold',
  'pbeckworthx@china.com.cn',
  '700-819-5441',
  34),
 (35, 'Sal', 'Stenyng', 'Bronze', 'sstenyngy@spotify.com', '241-277-3861', 35),
 (36, 'Cissiee', 'McAteer', 'Bronze', 'cmcateerz@unc.edu', '519-178-7551', 36),
 (37,
  'Ellynn',
  'Fairall',
  'Platinum',
  'efairall10@hostgator.com',
  '510-730-2601',
  37),
 (38, 'Glyn', 'Royse', 'Bronze', 'groyse11@weibo.com', '911-311-5211', 38),
 (39,
  'Harry',
  'Shepton',
  'Platinum',
  'hshepton12@nih.gov',
  '620-269-1031',
  39),
 (40,
  'Alane',
  'Blaxill',
  'Gold',
  'ablaxill13@sciencedirect.com',
  '799-258-7961',
  40),
 (41,
  'Joellyn',
  'Skeech',
  'Bronze',
  'jskeech14@acquirethisname.com',
  '029-457-0571',
  41),
 (42,
  'Tersina',
  'Stoves',
  'Silver',
  'tstoves15@dion.ne.jp',
  '626-616-2341',
  42),
 (43,
  'Tiebout',
  'Healey',
  'Gold',
  'thealey16@techcrunch.com',
  '559-728-1971',
  43),
 (44,
  'Janaya',
  'Bagot',
  'Platinum',
  'jbagot17@foxnews.com',
  '885-322-3211',
  44),
 (45, 'Harrison', 'Eddy', 'Bronze', 'heddy18@imgur.com', '517-855-2191', 45),
 (46, 'Dwight', 'Heeney', 'Silver', 'dheeney19@go.com', '104-260-5301', 46),
 (47,
  'Cissy',
  'Tregear',
  'Platinum',
  'ctregear1a@wsj.com',
  '252-730-3841',
  47),
 (48, 'Adrianne', 'Heap', 'Silver', 'aheap1b@about.com', '609-208-5461', 48),
 (49,
  'Kiri',
  'Dowber',
  'Gold',
  'kdowber1c@macromedia.com',
  '860-376-1821',
  49),
 (50,
  'Federico',
  'Kohter',
  'Silver',
  'fkohter1d@flickr.com',
  '994-496-3681',
  50),
 (51,
  'Feliks',
  'Spours',
  'Platinum',
  'fspours1e@weibo.com',
  '495-603-6431',
  51),
 (52,
  'Hollie',
  'Francescone',
  'Gold',
  'hfrancescone1f@stanford.edu',
  '868-563-0901',
  52),
 (53,
  'Harriet',
  'Cowdrey',
  'Gold',
  'hcowdrey1g@issuu.com',
  '725-335-2771',
  53),
 (54,
  'Bettye',
  'Pether',
  'Platinum',
  'bpether1h@typepad.com',
  '142-799-3251',
  54),
 (55, 'Bordy', 'Weyland', 'Gold', 'bweyland1i@google.pl', '243-052-4181', 55),
 (56,
  'Peggi',
  'Wildash',
  'Platinum',
  'pwildash1j@google.cn',
  '545-889-2451',
  56),
 (57, 'Davie', 'Gumby', 'Gold', 'dgumby1k@elpais.com', '596-502-5681', 57),
 (58,
  'Hyatt',
  'Le febre',
  'Bronze',
  'hlefebre1l@moonfruit.com',
  '414-381-1971',
  58),
 (59,
  'Dell',
  'McVrone',
  'Bronze',
  'dmcvrone1m@creativecommons.org',
  '343-499-5741',
  59),
 (60,
  'Deidre',
  'Hiscocks',
  'Silver',
  'dhiscocks1n@sun.com',
  '940-437-4691',
  60),
 (61,
  'Cherrita',
  'Chevers',
  'Platinum',
  'cchevers1o@w3.org',
  '443-252-4351',
  61),
 (62, 'Saudra', 'Riding', 'Gold', 'sriding1p@goo.ne.jp', '362-264-2841', 62),
 (63,
  'Roddie',
  'Whitten',
  'Silver',
  'rwhitten1q@usgs.gov',
  '785-415-6471',
  63),
 (64,
  'Stern',
  'Nussgen',
  'Platinum',
  'snussgen1r@ovh.net',
  '246-438-8701',
  64),
 (65, 'Zahara', 'Kaley', 'Gold', 'zkaley1s@cmu.edu', '391-527-1321', 65),
 (66,
  'Adelbert',
  'Gothrup',
  'Platinum',
  'agothrup1t@123-reg.co.uk',
  '178-208-8011',
  66),
 (67, 'Barbey', 'Breit', 'Platinum', 'bbreit1u@lycos.com', '100-384-9981', 67),
 (68, 'Luis', 'Duthie', 'Silver', 'lduthie1v@mit.edu', '030-383-2601', 68),
 (69,
  'Murray',
  'Northing',
  'Gold',
  'mnorthing1w@posterous.com',
  '513-317-9391',
  69),
 (70,
  'Liam',
  'Atkyns',
  'Silver',
  'latkyns1x@barnesandnoble.com',
  '666-984-7241',
  70),
 (71,
  'Brietta',
  'Skillicorn',
  'Gold',
  'bskillicorn1y@earthlink.net',
  '773-691-0341',
  71),
 (72,
  'Red',
  'Jedrych',
  'Silver',
  'rjedrych1z@reference.com',
  '567-408-6231',
  72),
 (73,
  'Patti',
  'Rosenthal',
  'Gold',
  'prosenthal20@intel.com',
  '908-776-5011',
  73),
 (74,
  'Bertina',
  'Nancekivell',
  'Silver',
  'bnancekivell21@jugem.jp',
  '759-482-3611',
  74),
 (75, 'Morgen', 'Duker', 'Silver', 'mduker22@narod.ru', '641-911-1411', 75),
 (76,
  'Shelby',
  'Fairbanks',
  'Gold',
  'sfairbanks23@hao123.com',
  '666-757-2761',
  76),
 (77,
  'Joelly',
  'Mealing',
  'Platinum',
  'jmealing24@cbsnews.com',
  '417-330-7631',
  77),
 (78,
  'Dacie',
  'Jedrzejczyk',
  'Platinum',
  'djedrzejczyk25@chron.com',
  '227-237-5801',
  78),
 (79,
  'Genna',
  'Beckford',
  'Gold',
  'gbeckford26@ycombinator.com',
  '319-462-2761',
  79),
 (80, 'Freddy', 'Couper', 'Gold', 'fcouper27@fc2.com', '510-886-4251', 80),
 (81, 'Jackson', 'Easey', 'Bronze', 'jeasey28@gmpg.org', '370-080-3981', 81),
 (82,
  'Jayne',
  'Chominski',
  'Platinum',
  'jchominski29@amazon.co.jp',
  '700-817-4641',
  82),
 (83,
  'Hammad',
  'Brabben',
  'Bronze',
  'hbrabben2a@examiner.com',
  '461-231-7131',
  83),
 (84,
  'Burnard',
  'Adderley',
  'Gold',
  'badderley2b@github.com',
  '010-301-7571',
  84),
 (85,
  'Viviana',
  'Townsley',
  'Bronze',
  'vtownsley2c@infoseek.co.jp',
  '133-457-5651',
  85),
 (86, 'Alonso', 'Jelk', 'Silver', 'ajelk2d@zdnet.com', '032-807-4521', 86),
 (87,
  'Tristam',
  'Ferrar',
  'Gold',
  'tferrar2e@infoseek.co.jp',
  '369-627-7571',
  87),
 (88,
  'Petra',
  'Abrehart',
  'Bronze',
  'pabrehart2f@oaic.gov.au',
  '562-079-3581',
  88),
 (89,
  'Doloritas',
  'Burhouse',
  'Gold',
  'dburhouse2g@mlb.com',
  '681-324-9221',
  89),
 (90,
  'Joete',
  'Fairbard',
  'Silver',
  'jfairbard2h@nih.gov',
  '274-357-7981',
  90),
 (91, 'Lloyd', 'Kid', 'Bronze', 'lkid2i@yahoo.co.jp', '592-345-8771', 91),
 (92,
  'Isac',
  'Jeannenet',
  'Silver',
  'ijeannenet2j@google.co.uk',
  '716-549-6371',
  92),
 (93,
  'Kristoforo',
  'Farraway',
  'Gold',
  'kfarraway2k@rambler.ru',
  '902-626-4701',
  93),
 (94,
  'Mason',
  'le Keux',
  'Platinum',
  'mlekeux2l@jigsy.com',
  '881-487-0751',
  94),
 (95,
  'Clayborne',
  'Toll',
  'Platinum',
  'ctoll2m@geocities.jp',
  '891-768-5371',
  95),
 (96,
  'Christye',
  'Carbry',
  'Platinum',
  'ccarbry2n@domainmarket.com',
  '713-054-5711',
  96),
 (97,
  'Alix',
  'Standfield',
  'Bronze',
  'astandfield2o@sun.com',
  '314-691-5861',
  97),
 (98,
  'Wash',
  "O'Farris",
  'Platinum',
  'wofarris2p@deliciousdays.com',
  '462-040-9661',
  98),
 (99,
  'Andreas',
  'Streak',
  'Gold',
  'astreak2q@reuters.com',
  '877-091-2421',
  99),
 (100,
  'Corrie',
  'Battram',
  'Gold',
  'cbattram2r@moonfruit.com',
  '730-283-3541',
  100),
 (101,
  'Andromache',
  'Klehyn',
  'Silver',
  'aklehyn2s@indiatimes.com',
  '658-112-2791',
  101),
 (102, 'Deonne', 'Pawlyn', 'Gold', 'dpawlyn2t@zdnet.com', '605-594-8031', 102),
 (103,
  'Georg',
  'MacCoveney',
  'Gold',
  'gmaccoveney2u@ted.com',
  '944-224-5051',
  103),
 (104,
  'Jacques',
  'Jedrzejkiewicz',
  'Gold',
  'jjedrzejkiewicz2v@ovh.net',
  '444-486-1371',
  104),
 (105,
  'Maxy',
  'Balle',
  'Bronze',
  'mballe2w@opensource.org',
  '310-337-8591',
  105),
 (106, 'Ed', 'Robert', 'Gold', 'erobert2x@ed.gov', '879-073-5961', 106),
 (107,
  'Maxy',
  'Trewhitt',
  'Platinum',
  'mtrewhitt2y@wix.com',
  '339-516-3071',
  107),
 (108,
  'Amity',
  'Vassar',
  'Gold',
  'avassar2z@miibeian.gov.cn',
  '303-301-8081',
  108),
 (109,
  'Iona',
  'Leahair',
  'Bronze',
  'ileahair30@sfgate.com',
  '499-141-5491',
  109)]

In [142]:
marketed_to = pd.read_csv('/Users/matthewmichael/Desktop/ColumbiaMasters/APAN5310/marketedtoimport.csv')

In [144]:
marketed_to = marketed_to.rename(columns={
    'loyalty_member_id': 'loyalty_member_id',
    'marketing_campaign_id': 'marketing_campaign_id',
  })

In [147]:
for index, row in marketed_to[['loyalty_member_id','marketing_campaign_id']].iterrows():
    loyalty_member_id = int(row['loyalty_member_id'])   
    marketing_campaign_id = int(row['marketing_campaign_id'])
    try:
        cur.executemany("INSERT INTO marketed_to (loyalty_member_id,marketing_campaign_id) VALUES (%s, %s)", [(loyalty_member_id, marketing_campaign_id)])
    except Exception as e:
        print(f"Error inserting batch of rows: {e}")
        conn.rollback()

In [148]:
cur.execute("SELECT * from marketed_to")
marketedto = cur.fetchall()
marketedto

[(1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9),
 (10, 10),
 (11, 11),
 (12, 12),
 (13, 13),
 (14, 14),
 (15, 15),
 (16, 16),
 (17, 17),
 (18, 18),
 (19, 19),
 (20, 20),
 (21, 21),
 (22, 22),
 (23, 23),
 (24, 24),
 (25, 25),
 (26, 26),
 (27, 27),
 (28, 28),
 (29, 29),
 (30, 30),
 (31, 31),
 (32, 32),
 (33, 33),
 (34, 34),
 (35, 35),
 (36, 36),
 (37, 37),
 (38, 38),
 (39, 39),
 (40, 40),
 (41, 41),
 (42, 42),
 (43, 43),
 (44, 44),
 (45, 45),
 (46, 46),
 (47, 47),
 (48, 48),
 (49, 49),
 (50, 50),
 (51, 51),
 (52, 52),
 (53, 53),
 (54, 54),
 (55, 55),
 (56, 56),
 (57, 57),
 (58, 58),
 (59, 59),
 (60, 60),
 (61, 61),
 (62, 62),
 (63, 63),
 (64, 64),
 (65, 65),
 (66, 66),
 (67, 67),
 (68, 68),
 (69, 69),
 (70, 70),
 (71, 71),
 (72, 72),
 (73, 73),
 (74, 74),
 (75, 75),
 (76, 76),
 (77, 77),
 (78, 78),
 (79, 79),
 (80, 80),
 (81, 81),
 (82, 82),
 (83, 83),
 (84, 84),
 (85, 85),
 (86, 86),
 (87, 87),
 (88, 88),
 (89, 89),
 (90, 90),
 (91, 91),
 (92, 92),
 (93, 93),
 (94, 94),
 (95, 95),
 (96, 96),
 (97, 97),
 (98, 98),
 (99, 99),
 (100, 100),
 (101, 101),
 (102, 102),
 (103, 103),
 (104, 104),
 (105, 105),
 (106, 106),
 (107, 107),
 (108, 108),
 (109, 109)]

In [149]:
transactions_df = pd.read_csv('/Users/matthewmichael/Desktop/ColumbiaMasters/APAN5310/transactionsimport.csv')

In [150]:
transactions_df = transactions_df.rename(columns={
    'time': 'time',
    'store_id': 'store_id',
    'payment_type': 'payment_type',
    'loyalty_member_id': 'loyalty_member_id',
    'transaction_type': 'transaction_type',
    'cart_id': 'cart_id',
    'account_id': 'account_id',
  })

In [153]:
for index, row in transactions_df[['time','store_id','payment_type','loyalty_member_id','transaction_type','cart_id','account_id']].iterrows():
    loyalty_member_id = int(row['loyalty_member_id'])   
    cart_id = int(row['cart_id'])
    try:
        cur.executemany("INSERT INTO transactions (time,store_id,payment_type,loyalty_member_id,transaction_type,cart_id,account_id) VALUES (%s, %s, %s,%s,%s,%s,%s)", [(row['time'], row['store_id'], row['payment_type'],loyalty_member_id, row['transaction_type'],cart_id,row['account_id'])])
    except Exception as e:
        print(f"Error inserting batch of rows: {e}")
        conn.rollback()

In [154]:
cur.execute("SELECT * from transactions")
transactions = cur.fetchall()
transactions

[(1,
  datetime.datetime(2022, 8, 7, 0, 0),
  'Cash',
  'Debit',
  1,
  1,
  '839-421-780',
  1),
 (2,
  datetime.datetime(2022, 6, 14, 0, 0),
  'Digital Payment',
  'Credit',
  2,
  2,
  '674-387-743',
  2),
 (3,
  datetime.datetime(2022, 7, 25, 0, 0),
  'Credit Card',
  'Credit',
  3,
  3,
  '499-475-625',
  3),
 (4,
  datetime.datetime(2022, 11, 11, 0, 0),
  'Digital Payment',
  'Credit',
  4,
  4,
  '148-864-430',
  4),
 (5,
  datetime.datetime(2022, 6, 29, 0, 0),
  'Cash',
  'Credit',
  5,
  5,
  '343-618-228',
  5),
 (6,
  datetime.datetime(2022, 4, 28, 0, 0),
  'Cash',
  'Credit',
  6,
  6,
  '774-048-151',
  6),
 (7,
  datetime.datetime(2022, 7, 25, 0, 0),
  'Cash',
  'Debit',
  7,
  7,
  '544-909-899',
  7),
 (8,
  datetime.datetime(2022, 10, 22, 0, 0),
  'Credit Card',
  'Credit',
  8,
  8,
  '296-674-493',
  8),
 (9,
  datetime.datetime(2022, 12, 10, 0, 0),
  'Cash',
  'Credit',
  9,
  9,
  '217-923-000',
  9),
 (10,
  datetime.datetime(2022, 8, 1, 0, 0),
  'Check',
  'Debit',
  10,
  10,
  '245-071-566',
  10),
 (11,
  datetime.datetime(2023, 1, 21, 0, 0),
  'Credit Card',
  'Credit',
  11,
  11,
  '286-488-315',
  11),
 (12,
  datetime.datetime(2022, 8, 29, 0, 0),
  'Credit Card',
  'Credit',
  12,
  12,
  '699-304-547',
  12),
 (13,
  datetime.datetime(2023, 2, 22, 0, 0),
  'Check',
  'Credit',
  13,
  13,
  '461-884-908',
  13),
 (14,
  datetime.datetime(2023, 4, 5, 0, 0),
  'Check',
  'Credit',
  14,
  14,
  '889-569-904',
  14),
 (15,
  datetime.datetime(2022, 9, 8, 0, 0),
  'Cash',
  'Debit',
  15,
  15,
  '839-807-127',
  15),
 (16,
  datetime.datetime(2023, 4, 11, 0, 0),
  'Credit Card',
  'Debit',
  16,
  16,
  '671-231-432',
  16),
 (17,
  datetime.datetime(2022, 10, 16, 0, 0),
  'Credit Card',
  'Credit',
  17,
  17,
  '493-399-570',
  17),
 (18,
  datetime.datetime(2023, 2, 6, 0, 0),
  'Digital Payment',
  'Credit',
  18,
  18,
  '344-671-065',
  18),
 (19,
  datetime.datetime(2023, 1, 29, 0, 0),
  'Digital Payment',
  'Debit',
  19,
  19,
  '435-375-473',
  19),
 (20,
  datetime.datetime(2023, 1, 10, 0, 0),
  'Cash',
  'Credit',
  20,
  20,
  '655-545-755',
  20),
 (21,
  datetime.datetime(2023, 4, 1, 0, 0),
  'Check',
  'Credit',
  21,
  21,
  '099-934-544',
  21),
 (22,
  datetime.datetime(2022, 5, 11, 0, 0),
  'Digital Payment',
  'Credit',
  22,
  22,
  '512-521-964',
  22),
 (23,
  datetime.datetime(2022, 8, 9, 0, 0),
  'Cash',
  'Credit',
  23,
  23,
  '938-440-310',
  23),
 (24,
  datetime.datetime(2023, 1, 19, 0, 0),
  'Cash',
  'Credit',
  24,
  24,
  '451-441-668',
  24),
 (25,
  datetime.datetime(2023, 3, 5, 0, 0),
  'Digital Payment',
  'Debit',
  25,
  25,
  '602-144-707',
  25),
 (26,
  datetime.datetime(2022, 11, 2, 0, 0),
  'Digital Payment',
  'Credit',
  26,
  26,
  '684-216-901',
  26),
 (27,
  datetime.datetime(2022, 4, 23, 0, 0),
  'Check',
  'Credit',
  27,
  27,
  '471-826-753',
  27),
 (28,
  datetime.datetime(2022, 9, 15, 0, 0),
  'Digital Payment',
  'Debit',
  28,
  28,
  '548-235-786',
  28),
 (29,
  datetime.datetime(2022, 9, 11, 0, 0),
  'Credit Card',
  'Debit',
  29,
  29,
  '998-493-485',
  29),
 (30,
  datetime.datetime(2022, 8, 26, 0, 0),
  'Cash',
  'Debit',
  30,
  30,
  '141-116-634',
  30),
 (31,
  datetime.datetime(2022, 11, 6, 0, 0),
  'Digital Payment',
  'Debit',
  31,
  31,
  '437-256-070',
  31),
 (32,
  datetime.datetime(2022, 7, 24, 0, 0),
  'Check',
  'Credit',
  32,
  32,
  '408-281-061',
  32),
 (33,
  datetime.datetime(2022, 7, 2, 0, 0),
  'Digital Payment',
  'Credit',
  33,
  33,
  '088-468-703',
  33),
 (34,
  datetime.datetime(2022, 11, 9, 0, 0),
  'Check',
  'Debit',
  34,
  34,
  '161-497-850',
  34),
 (35,
  datetime.datetime(2023, 4, 6, 0, 0),
  'Credit Card',
  'Credit',
  35,
  35,
  '572-268-948',
  35),
 (36,
  datetime.datetime(2022, 12, 11, 0, 0),
  'Digital Payment',
  'Credit',
  36,
  36,
  '300-050-746',
  36),
 (37,
  datetime.datetime(2022, 12, 17, 0, 0),
  'Digital Payment',
  'Credit',
  37,
  37,
  '966-548-502',
  37),
 (38,
  datetime.datetime(2022, 4, 22, 0, 0),
  'Credit Card',
  'Debit',
  38,
  38,
  '103-256-557',
  38),
 (39,
  datetime.datetime(2022, 11, 21, 0, 0),
  'Cash',
  'Debit',
  39,
  39,
  '176-226-928',
  39),
 (40,
  datetime.datetime(2022, 11, 6, 0, 0),
  'Check',
  'Debit',
  40,
  40,
  '544-440-008',
  40),
 (41,
  datetime.datetime(2022, 9, 10, 0, 0),
  'Check',
  'Debit',
  41,
  41,
  '828-392-880',
  41),
 (42,
  datetime.datetime(2023, 2, 19, 0, 0),
  'Credit Card',
  'Debit',
  42,
  42,
  '049-380-041',
  42),
 (43,
  datetime.datetime(2023, 3, 3, 0, 0),
  'Cash',
  'Debit',
  43,
  43,
  '530-167-077',
  43),
 (44,
  datetime.datetime(2023, 1, 8, 0, 0),
  'Credit Card',
  'Debit',
  44,
  44,
  '129-891-077',
  44),
 (45,
  datetime.datetime(2022, 9, 16, 0, 0),
  'Check',
  'Debit',
  45,
  45,
  '299-369-890',
  45),
 (46,
  datetime.datetime(2022, 11, 16, 0, 0),
  'Digital Payment',
  'Debit',
  46,
  46,
  '696-851-707',
  46),
 (47,
  datetime.datetime(2022, 10, 17, 0, 0),
  'Check',
  'Credit',
  47,
  47,
  '818-087-905',
  47),
 (48,
  datetime.datetime(2022, 7, 3, 0, 0),
  'Check',
  'Credit',
  48,
  48,
  '643-752-753',
  48),
 (49,
  datetime.datetime(2022, 11, 5, 0, 0),
  'Credit Card',
  'Credit',
  49,
  49,
  '300-052-394',
  49),
 (50,
  datetime.datetime(2022, 9, 25, 0, 0),
  'Credit Card',
  'Credit',
  50,
  50,
  '848-985-746',
  50),
 (51,
  datetime.datetime(2022, 8, 29, 0, 0),
  'Check',
  'Debit',
  51,
  51,
  '367-779-749',
  51),
 (52,
  datetime.datetime(2022, 4, 20, 0, 0),
  'Credit Card',
  'Credit',
  52,
  52,
  '831-677-161',
  52),
 (53,
  datetime.datetime(2023, 2, 24, 0, 0),
  'Check',
  'Debit',
  53,
  53,
  '436-836-719',
  53),
 (54,
  datetime.datetime(2022, 7, 4, 0, 0),
  'Check',
  'Debit',
  54,
  54,
  '138-365-634',
  54),
 (55,
  datetime.datetime(2022, 5, 21, 0, 0),
  'Digital Payment',
  'Credit',
  55,
  55,
  '347-299-470',
  55),
 (56,
  datetime.datetime(2022, 10, 23, 0, 0),
  'Cash',
  'Credit',
  56,
  56,
  '949-029-785',
  56),
 (57,
  datetime.datetime(2022, 10, 9, 0, 0),
  'Credit Card',
  'Credit',
  57,
  57,
  '752-860-320',
  57),
 (58,
  datetime.datetime(2022, 12, 30, 0, 0),
  'Credit Card',
  'Debit',
  58,
  58,
  '332-597-433',
  58),
 (59,
  datetime.datetime(2022, 11, 2, 0, 0),
  'Digital Payment',
  'Credit',
  59,
  59,
  '861-512-788',
  59),
 (60,
  datetime.datetime(2023, 3, 19, 0, 0),
  'Digital Payment',
  'Debit',
  60,
  60,
  '141-356-147',
  60),
 (61,
  datetime.datetime(2022, 12, 25, 0, 0),
  'Check',
  'Debit',
  61,
  61,
  '446-176-458',
  61),
 (62,
  datetime.datetime(2022, 12, 2, 0, 0),
  'Digital Payment',
  'Credit',
  62,
  62,
  '388-324-309',
  62),
 (63,
  datetime.datetime(2022, 5, 14, 0, 0),
  'Check',
  'Debit',
  63,
  63,
  '184-170-102',
  63),
 (64,
  datetime.datetime(2022, 4, 20, 0, 0),
  'Check',
  'Debit',
  64,
  64,
  '920-503-526',
  64),
 (65,
  datetime.datetime(2023, 3, 25, 0, 0),
  'Cash',
  'Credit',
  65,
  65,
  '662-904-589',
  65),
 (66,
  datetime.datetime(2022, 11, 26, 0, 0),
  'Cash',
  'Debit',
  66,
  66,
  '109-134-696',
  66),
 (67,
  datetime.datetime(2022, 11, 19, 0, 0),
  'Cash',
  'Debit',
  67,
  67,
  '112-566-945',
  67),
 (68,
  datetime.datetime(2022, 8, 25, 0, 0),
  'Check',
  'Credit',
  68,
  68,
  '538-231-002',
  68),
 (69,
  datetime.datetime(2022, 10, 26, 0, 0),
  'Check',
  'Credit',
  69,
  69,
  '974-708-663',
  69),
 (70,
  datetime.datetime(2022, 7, 23, 0, 0),
  'Check',
  'Credit',
  70,
  70,
  '243-741-734',
  70),
 (71,
  datetime.datetime(2022, 9, 25, 0, 0),
  'Credit Card',
  'Credit',
  71,
  71,
  '550-951-618',
  71),
 (72,
  datetime.datetime(2023, 2, 24, 0, 0),
  'Cash',
  'Debit',
  72,
  72,
  '281-109-803',
  72),
 (73,
  datetime.datetime(2022, 7, 31, 0, 0),
  'Cash',
  'Credit',
  73,
  73,
  '782-382-682',
  73),
 (74,
  datetime.datetime(2023, 3, 25, 0, 0),
  'Credit Card',
  'Credit',
  74,
  74,
  '332-993-439',
  74),
 (75,
  datetime.datetime(2022, 12, 5, 0, 0),
  'Digital Payment',
  'Credit',
  75,
  75,
  '899-697-468',
  75),
 (76,
  datetime.datetime(2023, 1, 2, 0, 0),
  'Credit Card',
  'Credit',
  76,
  76,
  '024-009-676',
  76),
 (77,
  datetime.datetime(2022, 7, 17, 0, 0),
  'Credit Card',
  'Debit',
  77,
  77,
  '139-157-761',
  77),
 (78,
  datetime.datetime(2022, 9, 17, 0, 0),
  'Cash',
  'Debit',
  78,
  78,
  '808-794-090',
  78),
 (79,
  datetime.datetime(2022, 8, 22, 0, 0),
  'Check',
  'Debit',
  79,
  79,
  '354-379-939',
  79),
 (80,
  datetime.datetime(2022, 8, 10, 0, 0),
  'Check',
  'Debit',
  80,
  80,
  '954-779-087',
  80),
 (81,
  datetime.datetime(2022, 10, 11, 0, 0),
  'Cash',
  'Debit',
  81,
  81,
  '397-571-890',
  81),
 (82,
  datetime.datetime(2022, 7, 15, 0, 0),
  'Digital Payment',
  'Credit',
  82,
  82,
  '308-692-555',
  82),
 (83,
  datetime.datetime(2022, 11, 9, 0, 0),
  'Check',
  'Debit',
  83,
  83,
  '471-543-978',
  83),
 (84,
  datetime.datetime(2023, 1, 21, 0, 0),
  'Check',
  'Debit',
  84,
  84,
  '113-740-906',
  84),
 (85,
  datetime.datetime(2022, 12, 29, 0, 0),
  'Check',
  'Credit',
  85,
  85,
  '274-665-088',
  85),
 (86,
  datetime.datetime(2022, 7, 10, 0, 0),
  'Cash',
  'Debit',
  86,
  86,
  '853-758-311',
  86),
 (87,
  datetime.datetime(2023, 1, 4, 0, 0),
  'Digital Payment',
  'Credit',
  87,
  87,
  '356-279-237',
  87),
 (88,
  datetime.datetime(2023, 1, 4, 0, 0),
  'Digital Payment',
  'Credit',
  88,
  88,
  '999-275-523',
  88),
 (89,
  datetime.datetime(2022, 9, 6, 0, 0),
  'Digital Payment',
  'Debit',
  89,
  89,
  '565-510-238',
  89),
 (90,
  datetime.datetime(2023, 2, 20, 0, 0),
  'Cash',
  'Credit',
  90,
  90,
  '308-829-581',
  90),
 (91,
  datetime.datetime(2022, 10, 28, 0, 0),
  'Check',
  'Credit',
  91,
  91,
  '721-338-700',
  91),
 (92,
  datetime.datetime(2023, 1, 30, 0, 0),
  'Credit Card',
  'Debit',
  92,
  92,
  '933-976-251',
  92),
 (93,
  datetime.datetime(2022, 8, 3, 0, 0),
  'Digital Payment',
  'Credit',
  93,
  93,
  '911-412-470',
  93),
 (94,
  datetime.datetime(2022, 9, 3, 0, 0),
  'Check',
  'Debit',
  94,
  94,
  '244-529-005',
  94),
 (95,
  datetime.datetime(2023, 4, 14, 0, 0),
  'Credit Card',
  'Debit',
  95,
  95,
  '796-423-819',
  95),
 (96,
  datetime.datetime(2022, 9, 7, 0, 0),
  'Check',
  'Credit',
  96,
  96,
  '706-381-671',
  96),
 (97,
  datetime.datetime(2022, 6, 6, 0, 0),
  'Credit Card',
  'Debit',
  97,
  97,
  '095-751-641',
  97),
 (98,
  datetime.datetime(2023, 1, 6, 0, 0),
  'Cash',
  'Credit',
  98,
  98,
  '626-942-336',
  98),
 (99,
  datetime.datetime(2023, 2, 19, 0, 0),
  'Cash',
  'Credit',
  99,
  99,
  '023-342-950',
  99),
 (100,
  datetime.datetime(2022, 11, 23, 0, 0),
  'Digital Payment',
  'Debit',
  100,
  100,
  '803-949-790',
  100),
 (101,
  datetime.datetime(2022, 5, 31, 0, 0),
  'Digital Payment',
  'Debit',
  101,
  101,
  '812-251-597',
  101),
 (102,
  datetime.datetime(2022, 10, 26, 0, 0),
  'Cash',
  'Credit',
  102,
  102,
  '815-749-190',
  102),
 (103,
  datetime.datetime(2022, 12, 10, 0, 0),
  'Credit Card',
  'Credit',
  103,
  103,
  '912-115-385',
  103),
 (104,
  datetime.datetime(2022, 11, 9, 0, 0),
  'Digital Payment',
  'Debit',
  104,
  104,
  '911-964-938',
  104),
 (105,
  datetime.datetime(2022, 9, 4, 0, 0),
  'Check',
  'Debit',
  105,
  105,
  '822-931-586',
  105),
 (106,
  datetime.datetime(2022, 12, 18, 0, 0),
  'Check',
  'Credit',
  106,
  106,
  '123-908-726',
  106),
 (107,
  datetime.datetime(2023, 2, 17, 0, 0),
  'Check',
  'Credit',
  107,
  107,
  '238-682-063',
  107),
 (108,
  datetime.datetime(2023, 1, 2, 0, 0),
  'Digital Payment',
  'Debit',
  108,
  108,
  '960-110-989',
  108),
 (109,
  datetime.datetime(2022, 10, 30, 0, 0),
  'Check',
  'Debit',
  109,
  109,
  '685-671-855',
  109)]